@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@font-face {
  font-family: "attic";
  src: url("../font/Attic Antique.ttf"); }

@font-face {
  font-family: "kudry";
  src: url("../font/Kudryashev Display Sans.ttf"); }

/* Global styles */
.window-app .window-content {
  font-family: "kudry";
  background-image: url(../images/ui/appFond.png);
  color: white; }
  .window-app .window-content input,
  .window-app .window-content select,
  .window-app .window-content button {
    color: white; }

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px white;
  cursor: pointer; }

form p.notes {
  color: #c0c0a5; }

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0; }

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr)); }

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr)); }

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr)); }

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr)); }

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr)); }

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr)); }

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr)); }

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr)); }

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr)); }

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr)); }

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999; }

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left; }

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right; }

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* Styles limited to channel fear sheets */
@-webkit-keyframes roll {
  from {
    -webkit-transform: scaleX(1.2) scaleY(1.2);
    transform: scaleX(1.2) scaleY(1.2);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0; }
  33% {
    -webkit-transform: scaleX(0.8) scaleY(0.8);
    transform: scaleX(0.8) scaleY(0.8);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0; }
  66% {
    -webkit-transform: scaleX(1.2) scaleY(1.2);
    transform: scaleX(1.2) scaleY(1.2);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0; }
  to {
    -webkit-transform: scaleX(0.8) scaleY(0.8);
    transform: scaleX(0.8) scaleY(0.8);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0; } }
@keyframes roll {
  from {
    -webkit-transform: scaleX(1.2) scaleY(1.2);
    transform: scaleX(1.2) scaleY(1.2);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0; }
  33% {
    -webkit-transform: scaleX(0.8) scaleY(0.8);
    transform: scaleX(0.8) scaleY(0.8);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0; }
  66% {
    -webkit-transform: scaleX(1.2) scaleY(1.2);
    transform: scaleX(1.2) scaleY(1.2);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0; }
  to {
    -webkit-transform: scaleX(0.8) scaleY(0.8);
    transform: scaleX(0.8) scaleY(0.8);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0; } }

.actor .window-content {
  background-color: #e0ce79;
  background-image: url(../images/ui/actorFond.png); }
  .actor .window-content input[type="text"]:hover,
  .actor .window-content input[type="number"]:hover {
    -webkit-box-shadow: 0 0 10px #afb683;
    box-shadow: 0 0 10px #afb683; }
  .actor .window-content input[type="text"]:focus,
  .actor .window-content input[type="number"]:focus {
    -webkit-box-shadow: 0 0 10px #d3e274;
    box-shadow: 0 0 10px #d3e274; }
  .actor .window-content input[type="text"]::-webkit-input-placeholder, .actor .window-content input[type="number"]::-webkit-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .actor .window-content input[type="text"]::-moz-placeholder, .actor .window-content input[type="number"]::-moz-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .actor .window-content input[type="text"]:-ms-input-placeholder, .actor .window-content input[type="number"]:-ms-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .actor .window-content input[type="text"]::-ms-input-placeholder, .actor .window-content input[type="number"]::-ms-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .actor .window-content input[type="text"]::placeholder,
  .actor .window-content input[type="number"]::placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .actor .window-content .rollDices {
    background: url(../images/ui/dices.webp);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    position: absolute;
    right: -20px;
    top: 20px;
    display: block; }
  .actor .window-content .rollDices:hover {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-name: roll;
    animation-name: roll; }
  .actor .window-content .sheet-header {
    background-image: url(../images/ui/appFond.png);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 170px;
    flex: 0 0 170px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px; }
    .actor .window-content .sheet-header input[type="text"],
    .actor .window-content .sheet-header input[type="number"],
    .actor .window-content .sheet-header input[type="password"],
    .actor .window-content .sheet-header input[type="date"],
    .actor .window-content .sheet-header input[type="time"] {
      min-width: 20px;
      padding: 5px;
      margin: 0;
      color: #e6e6e6;
      border: none;
      border-bottom: 1px solid #7a7971;
      border-radius: 3px;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text; }
    .actor .window-content .sheet-header img.profile-img {
      margin: auto;
      border: 0;
      height: 170px;
      vertical-align: middle;
      padding-right: 5px; }
  .actor .window-content .tabs {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    font-family: attic;
    color: black;
    background-color: #20393e62; }
    .actor .window-content .tabs .item {
      line-height: 40px;
      font-weight: bold;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .actor .window-content .tabs .item.active {
      text-decoration: underline;
      text-shadow: 0px 0px 10px #74d5ebc2; }
  .actor .window-content .tab,
  .actor .window-content .tab .editor {
    height: 100%; }
  .actor .window-content a:hover {
    text-shadow: 0px 0px 10px #aee1ecc2; }
  .actor .window-content .actorSheet h1 {
    font-family: attic; }
    .actor .window-content .actorSheet h1 input {
      text-transform: uppercase; }
  .actor .window-content .actorSheet h2 {
    color: black;
    font-family: attic;
    border-bottom: 2px solid #20393E; }
  .actor .window-content .actorSheet .infos {
    text-align: right;
    font-family: kudry;
    font-weight: "bold";
    font-size: 12px; }
  .actor .window-content .actorSheet input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    -border-radius: 4px;
    height: 30px;
    width: 30px;
    background-image: url(../images/ui/dicesBox_unChecked.png);
    background-size: contain;
    -webkit-filter: none;
    filter: none; }
  .actor .window-content .actorSheet input[type=radio]:checked {
    -border-radius: 4px;
    height: 30px;
    width: 30px;
    background-image: url(../images/ui/dicesBox_Checked.webp);
    background-size: contain;
    -webkit-filter: none;
    filter: none; }
  .actor .window-content .actorSheet .tab ol {
    padding: 0 10px 0 10px; }
  .actor .window-content .actorSheet .tab input[type="number"] {
    text-align: center;
    width: 30px; }
  .actor .window-content .actorSheet .tab input[type="text"] {
    border: 0;
    height: 30px;
    padding: 0 5px; }
  .actor .window-content .actorSheet .tab .desc-actor-L1 .constituentsParam {
    float: left;
    width: 250px;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .desc-actor-L1 .waysParam {
    float: left;
    width: 250px;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .desc-actor-L1 .targetsParam {
    float: left;
    width: 250px;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .desc-actor-L2 .energyParam {
    float: left;
    width: 215px;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .desc-actor-L2 .statusParam {
    float: left;
    width: 270px;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .desc-actor-L2 .basicAttributesParam {
    float: left;
    width: 310px;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .desc-actor-L2 .detailAttributesParam {
    float: left;
    width: 100%;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .attr-npc-line .energyParam {
    float: left;
    width: 215px;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .attr-npc-line .statusParam {
    float: left;
    width: 270px;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .attr-npc-line .basicAttributesParam {
    float: left;
    width: 315px;
    padding: 0 5px 0 5px; }
  .actor .window-content .actorSheet .tab .constituentsParam li.constituents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 30px; }
    .actor .window-content .actorSheet .tab .constituentsParam li.constituents div.constituents-choice {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      height: 30px;
      width: 150px;
      background-color: #6B1C20;
      border-bottom: 2px solid #24090a; }
      .actor .window-content .actorSheet .tab .constituentsParam li.constituents div.constituents-choice div.constituents-radio {
        width: 25px; }
      .actor .window-content .actorSheet .tab .constituentsParam li.constituents div.constituents-choice div.constituents-img {
        width: 25px; }
        .actor .window-content .actorSheet .tab .constituentsParam li.constituents div.constituents-choice div.constituents-img img {
          border: 0;
          vertical-align: middle; }
      .actor .window-content .actorSheet .tab .constituentsParam li.constituents div.constituents-choice div.constituents-label span {
        display: inline-block;
        width: 80px;
        text-align: right; }
    .actor .window-content .actorSheet .tab .constituentsParam li.constituents div.constituents-value {
      margin: 0 0 0 5px; }
  .actor .window-content .actorSheet .tab .waysParam li.ways {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 30px; }
    .actor .window-content .actorSheet .tab .waysParam li.ways div.ways-choice {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      height: 30px;
      width: 180px;
      background-color: #6B1C20;
      border-bottom: 2px solid #24090a; }
      .actor .window-content .actorSheet .tab .waysParam li.ways div.ways-choice div.ways-radio {
        width: 25px; }
      .actor .window-content .actorSheet .tab .waysParam li.ways div.ways-choice div.ways-img {
        width: 25px; }
        .actor .window-content .actorSheet .tab .waysParam li.ways div.ways-choice div.ways-img img {
          border: 0;
          vertical-align: middle; }
      .actor .window-content .actorSheet .tab .waysParam li.ways div.ways-choice div.ways-label span {
        display: inline-block;
        width: 120px;
        text-align: right; }
    .actor .window-content .actorSheet .tab .waysParam li.ways div.ways-value {
      margin: 0 0 0 5px; }
  .actor .window-content .actorSheet .tab .waysParam .money {
    padding: 2px 0; }
  .actor .window-content .actorSheet .tab .targetsParam li.targets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 30px;
    padding: 0 5px 0 5px; }
    .actor .window-content .actorSheet .tab .targetsParam li.targets div.targets-choice {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      height: 30px;
      width: 180px;
      background-color: #6B1C20;
      border-bottom: 2px solid #24090a; }
      .actor .window-content .actorSheet .tab .targetsParam li.targets div.targets-choice div.targets-img {
        width: 25px; }
        .actor .window-content .actorSheet .tab .targetsParam li.targets div.targets-choice div.targets-img img {
          border: 0;
          vertical-align: middle; }
      .actor .window-content .actorSheet .tab .targetsParam li.targets div.targets-choice div.targets-label span {
        display: inline-block;
        width: 120px;
        text-align: right; }
    .actor .window-content .actorSheet .tab .targetsParam li.targets div.targets-value {
      margin: 0 0 0 5px; }
  .actor .window-content .actorSheet .tab .energyParam li.energy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 30px; }
    .actor .window-content .actorSheet .tab .energyParam li.energy div.energy-choice {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      height: 30px;
      width: 150px;
      background-color: #6B1C20;
      color: #fff;
      border-bottom: 2px solid #24090a; }
      .actor .window-content .actorSheet .tab .energyParam li.energy div.energy-choice div.energy-radio {
        width: 25px; }
      .actor .window-content .actorSheet .tab .energyParam li.energy div.energy-choice div.energy-img {
        width: 25px; }
        .actor .window-content .actorSheet .tab .energyParam li.energy div.energy-choice div.energy-img img {
          border: 0;
          vertical-align: middle; }
      .actor .window-content .actorSheet .tab .energyParam li.energy div.energy-choice div.energy-label span {
        display: inline-block;
        width: 120px;
        text-align: right; }
    .actor .window-content .actorSheet .tab .energyParam li.energy div.energy-value {
      margin: 0 0 0 5px; }
  .actor .window-content .actorSheet .tab .energyParam li.special-energy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 30px; }
    .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      height: 30px;
      width: 150px;
      background-color: #20393E;
      color: #fff;
      border-bottom: 2px solid #24090a; }
      .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice div.special-energy-img {
        width: 25px; }
        .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice div.special-energy-img img {
          border: 0;
          vertical-align: middle; }
      .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice div.special-energy-label span {
        display: inline-block;
        width: 120px;
        text-align: right; }
      .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice div.special-energy-label input.special-energy.magic.name {
        border: 0;
        background-color: #20393E;
        width: 120px;
        text-align: right; }
      .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice div.special-energy-label input.special-energy.magic.name::-webkit-input-placeholder {
        color: #fff;
        text-align: right; }
      .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice div.special-energy-label input.special-energy.magic.name::-moz-placeholder {
        color: #fff;
        text-align: right; }
      .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice div.special-energy-label input.special-energy.magic.name:-ms-input-placeholder {
        color: #fff;
        text-align: right; }
      .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice div.special-energy-label input.special-energy.magic.name::-ms-input-placeholder {
        color: #fff;
        text-align: right; }
      .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-choice div.special-energy-label input.special-energy.magic.name::placeholder {
        color: #fff;
        text-align: right; }
    .actor .window-content .actorSheet .tab .energyParam li.special-energy div.special-energy-value {
      width: 35px;
      margin: 0 0 0 5px; }
  .actor .window-content .actorSheet .tab .statusParam li.status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 30px; }
    .actor .window-content .actorSheet .tab .statusParam li.status div.status-label {
      background-color: #6B1C20;
      color: #fff;
      border-bottom: 2px solid #24090a;
      height: 30px; }
      .actor .window-content .actorSheet .tab .statusParam li.status div.status-label span {
        padding: 0 0 0 5px;
        display: inline-block;
        width: 160px;
        text-align: left; }
    .actor .window-content .actorSheet .tab .statusParam li.status div.status-value {
      width: 100px;
      margin: 0 0 0 5px; }
  .actor .window-content .actorSheet .tab .basicAttributesParam ::-webkit-input-placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .basicAttributesParam ::-moz-placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .basicAttributesParam :-ms-input-placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .basicAttributesParam ::-ms-input-placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .basicAttributesParam ::placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list {
    width: 300px; }
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      width: 100%; }
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.career {
      width: 100%; }
      .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.career .career-name {
        background-color: #6B1C20;
        border-bottom: 2px solid #24090a;
        width: 245px; }
      .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.career .career-value {
        padding: 0 0 0 5px; }
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.pirateSkills-header {
      background-color: #6B1C20;
      border-bottom: 2px solid #24090a;
      width: 100%;
      height: 30px; }
      .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.pirateSkills-header .career-skill-label {
        float: left;
        width: 100%;
        text-align: center; }
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.pirateSkills .pirateSkills-name {
      border-bottom: 2px solid #24090a;
      width: 245px; }
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.pirateSkills .pirateSkills-weapon-name,
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.pirateSkills .pirateSkills-language {
      text-align: right; }
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.pirateSkills .pirateSkills-value {
      padding: 0 0 0 5px; }
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.proficiency .proficiency-name {
      background-color: #6B1C20;
      border-bottom: 2px solid #24090a;
      width: 245px; }
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.proficiency .proficiency-value {
      padding: 0 0 0 5px; }
    .actor .window-content .actorSheet .tab .basicAttributesParam ol.attributes-list li.skill .skill-name {
      background-color: #6B1C20;
      border-bottom: 2px solid #24090a;
      width: 100%; }
  .actor .window-content .actorSheet .tab .detailAttributesParam ::-webkit-input-placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .detailAttributesParam ::-moz-placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .detailAttributesParam :-ms-input-placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .detailAttributesParam ::-ms-input-placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .detailAttributesParam ::placeholder {
    color: #fff; }
  .actor .window-content .actorSheet .tab .detailAttributesParam ol {
    float: left;
    width: 190px;
    padding: 0;
    border: 1px solid;
    border-color: black;
    background-color: #20393e2a; }
    .actor .window-content .actorSheet .tab .detailAttributesParam ol .header {
      background-color: #6B1C20; }
    .actor .window-content .actorSheet .tab .detailAttributesParam ol li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      width: 100%;
      padding: 2px 5px; }
      .actor .window-content .actorSheet .tab .detailAttributesParam ol li .attr-label {
        width: 145px; }
        .actor .window-content .actorSheet .tab .detailAttributesParam ol li .attr-label input {
          height: 26px; }
      .actor .window-content .actorSheet .tab .detailAttributesParam ol li .attr-weapon-name,
      .actor .window-content .actorSheet .tab .detailAttributesParam ol li .attr-language {
        width: 145px;
        padding: 7px 0 2px 0; }
        .actor .window-content .actorSheet .tab .detailAttributesParam ol li .attr-weapon-name input,
        .actor .window-content .actorSheet .tab .detailAttributesParam ol li .attr-language input {
          height: 26px;
          text-align: right; }
      .actor .window-content .actorSheet .tab .detailAttributesParam ol li span.header {
        float: left;
        width: 100%;
        text-align: center; }
  .actor .window-content .shipSheet h1 {
    font-family: attic; }
    .actor .window-content .shipSheet h1 input {
      text-transform: uppercase; }
  .actor .window-content .shipSheet h2 {
    color: black;
    font-family: attic;
    border-bottom: 2px solid #20393E; }
  .actor .window-content .shipSheet .header-fields.ship .flag input {
    width: 75%; }
  .actor .window-content .shipSheet .tab.description .desc-ship-L1 .sailsParam {
    float: left;
    width: 250px; }
  .actor .window-content .shipSheet .tab.description .desc-ship-L1 .hullParam {
    float: left;
    width: 250px;
    margin: auto 10px; }
  .actor .window-content .shipSheet .tab.description .desc-ship-L1 .shipType {
    float: left;
    width: 250px; }
    .actor .window-content .shipSheet .tab.description .desc-ship-L1 .shipType img {
      border: 0px; }
  .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonsParam {
    clear: both;
    float: left;
    width: 420px; }
    .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonsParam .cannons-list {
      padding: 0 0 0 5px; }
    .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonsParam .cannonsShot-list {
      padding: 0 0 0 5px; }
    .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonsParam .bmr-list {
      padding: 0 0 0 5px; }
  .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonBallParam {
    float: left;
    margin: auto 10px; }
    .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonBallParam .cannonBall-list {
      padding: 0 0 0 5px; }
      .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonBallParam .cannonBall-list .cannonBall {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 5px 0 0 0; }
        .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonBallParam .cannonBall-list .cannonBall .cannonBall-type {
          width: 70px; }
        .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonBallParam .cannonBall-list .cannonBall .cannonBall-quantity {
          width: 50px; }
          .actor .window-content .shipSheet .tab.description .desc-ship-L2 .cannonBallParam .cannonBall-list .cannonBall .cannonBall-quantity input {
            width: 30px; }
  .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam {
    float: left; }
    .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam .crew-list {
      padding: 0 0 0 5px; }
      .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam .crew-list .crew {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 5px 0 0 0; }
        .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam .crew-list .crew .crew-label-total {
          width: 110px; }
        .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam .crew-list .crew .crew-quantity-total {
          width: 50px; }
          .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam .crew-list .crew .crew-quantity-total input {
            width: 40px; }
        .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam .crew-list .crew .crew-label {
          width: 90px; }
        .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam .crew-list .crew .crew-max {
          width: 30px; }
        .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam .crew-list .crew .crew-quantity {
          width: 40px; }
          .actor .window-content .shipSheet .tab.description .desc-ship-L2 .crewParam .crew-list .crew .crew-quantity input {
            width: 30px; }
  .actor .window-content .shipSheet .tab.description li.sails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
    .actor .window-content .shipSheet .tab.description li.sails div.sails-value {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      width: 50px;
      margin: 0 auto;
      text-align: center;
      background-color: #6B1C20;
      color: #fff;
      border-bottom: 2px solid #24090a; }
    .actor .window-content .shipSheet .tab.description li.sails div.sails-damage {
      border-bottom: 2px solid #24090a; }
  .actor .window-content .shipSheet .tab.description li.sails.nbLine1 {
    height: 30px; }
    .actor .window-content .shipSheet .tab.description li.sails.nbLine1 div.sails-damage {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%; }
  .actor .window-content .shipSheet .tab.description li.sails.nbLine2 {
    height: 60px; }
    .actor .window-content .shipSheet .tab.description li.sails.nbLine2 div.sails-value {
      padding: 15px 0 0 0; }
    .actor .window-content .shipSheet .tab.description li.sails.nbLine2 div.sails-damage {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-flex: 0 0 50%; }
  .actor .window-content .shipSheet .tab.description li.sails.nbLine3 {
    height: 90px; }
    .actor .window-content .shipSheet .tab.description li.sails.nbLine3 div.sails-value {
      padding: 30px 0 0 0; }
    .actor .window-content .shipSheet .tab.description li.sails.nbLine3 div.sails-damage {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      -webkit-flex: 0 0 33%; }
  .actor .window-content .shipSheet .tab.description li.hull {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
    .actor .window-content .shipSheet .tab.description li.hull div.hull-value {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      width: 50px;
      text-align: center;
      margin: 0 auto;
      background-color: #6B1C20;
      color: #fff;
      border-bottom: 2px solid #24090a; }
    .actor .window-content .shipSheet .tab.description li.hull div.hull-damage {
      border-bottom: 2px solid #24090a; }
  .actor .window-content .shipSheet .tab.description li.hull.nbLine1 {
    height: 30px; }
    .actor .window-content .shipSheet .tab.description li.hull.nbLine1 div.hull-damage {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%; }
  .actor .window-content .shipSheet .tab.description li.hull.nbLine2 {
    height: 60px; }
    .actor .window-content .shipSheet .tab.description li.hull.nbLine2 div.hull-value {
      padding: 15px 0 0 0; }
    .actor .window-content .shipSheet .tab.description li.hull.nbLine2 div.hull-damage {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-flex: 0 0 50%; }
  .actor .window-content .shipSheet .tab.description li.cannons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
    .actor .window-content .shipSheet .tab.description li.cannons div.cannons-side {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      width: 75px;
      text-align: center;
      margin: 0 auto;
      background-color: #6B1C20;
      color: #fff;
      border-bottom: 2px solid #24090a; }
    .actor .window-content .shipSheet .tab.description li.cannons div.cannons-damage {
      border-bottom: 2px solid #24090a; }
  .actor .window-content .shipSheet .tab.description li.cannons.nbLine1 {
    height: 30px; }
    .actor .window-content .shipSheet .tab.description li.cannons.nbLine1 div.cannons-damage {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%; }
  .actor .window-content .shipSheet .tab.description li.cannons.nbLine2 {
    height: 60px; }
    .actor .window-content .shipSheet .tab.description li.cannons.nbLine2 div.cannons-side {
      padding: 15px 0 0 0; }
    .actor .window-content .shipSheet .tab.description li.cannons.nbLine2 div.cannons-damage {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-flex: 0 0 50%; }
  .actor .window-content .shipSheet .tab.description li.cannonsShot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 30px; }
    .actor .window-content .shipSheet .tab.description li.cannonsShot .cannonsShot-name {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      width: 75px;
      text-align: center;
      margin: 0 auto;
      background-color: #6B1C20;
      color: #fff;
      border-bottom: 2px solid #24090a; }
    .actor .window-content .shipSheet .tab.description li.cannonsShot .cannonsShot-value div {
      float: left;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      margin: 3px 8px 3px 5px;
      text-align: center; }
  .actor .window-content .shipSheet .tab.description li.bmr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 30px; }
    .actor .window-content .shipSheet .tab.description li.bmr .bmr-name {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      width: 75px;
      text-align: center;
      margin: 0 auto;
      background-color: #6B1C20;
      color: #fff;
      border-bottom: 2px solid #24090a;
      border-right: 1px solid; }
    .actor .window-content .shipSheet .tab.description li.bmr .bmr-value {
      float: left;
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid; }
      .actor .window-content .shipSheet .tab.description li.bmr .bmr-value div.nbCol1 {
        float: left;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
        flex: 0 0 20px;
        width: 20px;
        height: 20px;
        margin: 3px 8px 3px 5px;
        text-align: center; }
      .actor .window-content .shipSheet .tab.description li.bmr .bmr-value div.nbCol2 {
        float: left;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        width: 50px;
        height: 20px;
        margin: 3px 8px 3px 5px;
        text-align: center; }
      .actor .window-content .shipSheet .tab.description li.bmr .bmr-value div.nbCol3 {
        float: left;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px;
        width: 85px;
        height: 20px;
        margin: 3px 8px 3px 5px;
        text-align: center; }
      .actor .window-content .shipSheet .tab.description li.bmr .bmr-value div.nbCol4 {
        float: left;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px;
        width: 119px;
        height: 20px;
        margin: 3px 8px 3px 5px;
        text-align: center; }
  .actor .window-content .shipSheet .tab.crew .crew-list .crew-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center; }
  .actor .window-content .shipSheet .tab.crew .crew-list .crew-value {
    padding: 5px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .actor .window-content .shipSheet .tab.crew .crew-list .crew-rank {
    width: 45%; }
  .actor .window-content .shipSheet .tab.crew .crew-list .crew-name {
    width: 45%; }
  .actor .window-content .shipSheet .tab.crew .crew-list .crew-controls {
    width: 20%;
    text-align: center; }

.item .window-content {
  background-color: #e0ce79;
  background-image: url(../images/ui/actorFond.png); }
  .item .window-content input[type="text"]:hover,
  .item .window-content input[type="number"]:hover {
    -webkit-box-shadow: 0 0 10px #afb683;
    box-shadow: 0 0 10px #afb683; }
  .item .window-content input[type="text"]:focus,
  .item .window-content input[type="number"]:focus {
    -webkit-box-shadow: 0 0 10px #d3e274;
    box-shadow: 0 0 10px #d3e274; }
  .item .window-content input[type="text"]::-webkit-input-placeholder, .item .window-content input[type="number"]::-webkit-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .item .window-content input[type="text"]::-moz-placeholder, .item .window-content input[type="number"]::-moz-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .item .window-content input[type="text"]:-ms-input-placeholder, .item .window-content input[type="number"]:-ms-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .item .window-content input[type="text"]::-ms-input-placeholder, .item .window-content input[type="number"]::-ms-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .item .window-content input[type="text"]::placeholder,
  .item .window-content input[type="number"]::placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .item .window-content .sheet-header {
    background-image: url(../images/ui/appFond.png);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 170px;
    flex: 0 0 170px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px; }
    .item .window-content .sheet-header input[type="text"],
    .item .window-content .sheet-header input[type="number"],
    .item .window-content .sheet-header input[type="password"],
    .item .window-content .sheet-header input[type="date"],
    .item .window-content .sheet-header input[type="time"] {
      min-width: 20px;
      padding: 5px;
      margin: 0;
      color: #e6e6e6;
      border: none;
      border-bottom: 1px solid #7a7971;
      border-radius: 3px;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text; }
    .item .window-content .sheet-header input[type="text"]:hover,
    .item .window-content .sheet-header input[type="number"]:hover {
      -webkit-box-shadow: 0 0 5px #717556;
      box-shadow: 0 0 5px #717556; }
    .item .window-content .sheet-header input[type="text"]:focus,
    .item .window-content .sheet-header input[type="number"]:focus {
      -webkit-box-shadow: 0 0 10px #717556;
      box-shadow: 0 0 10px #717556; }
    .item .window-content .sheet-header input[type="text"]::-webkit-input-placeholder, .item .window-content .sheet-header input[type="number"]::-webkit-input-placeholder {
      color: rgba(109, 161, 161, 0.794);
      text-shadow: 0px 0px 10px black; }
    .item .window-content .sheet-header input[type="text"]::-moz-placeholder, .item .window-content .sheet-header input[type="number"]::-moz-placeholder {
      color: rgba(109, 161, 161, 0.794);
      text-shadow: 0px 0px 10px black; }
    .item .window-content .sheet-header input[type="text"]:-ms-input-placeholder, .item .window-content .sheet-header input[type="number"]:-ms-input-placeholder {
      color: rgba(109, 161, 161, 0.794);
      text-shadow: 0px 0px 10px black; }
    .item .window-content .sheet-header input[type="text"]::-ms-input-placeholder, .item .window-content .sheet-header input[type="number"]::-ms-input-placeholder {
      color: rgba(109, 161, 161, 0.794);
      text-shadow: 0px 0px 10px black; }
    .item .window-content .sheet-header input[type="text"]::placeholder,
    .item .window-content .sheet-header input[type="number"]::placeholder {
      color: rgba(109, 161, 161, 0.794);
      text-shadow: 0px 0px 10px black; }
  .item .window-content .tabs {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    font-family: attic;
    color: black;
    background-color: #20393e62; }
    .item .window-content .tabs .item {
      line-height: 40px;
      font-weight: bold;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .item .window-content .tabs .item.active {
      text-decoration: underline;
      text-shadow: 0px 0px 10px #74d5ebc2; }
  .item .window-content .tab,
  .item .window-content .tab .editor {
    height: 100%;
    min-height: 60px; }
  .item .window-content .sheet-body h1 {
    font-family: attic; }
    .item .window-content .sheet-body h1 input {
      text-transform: uppercase; }
  .item .window-content .sheet-body h2 {
    color: black;
    font-family: attic;
    border-bottom: 2px solid #20393E; }
  .item .window-content .sheet-body input {
    width: 30px;
    text-align: center;
    padding: 0 5px; }
  .item .window-content .sheet-body .profile-img {
    max-width: 30%;
    max-height: 170px;
    height: auto;
    border: none;
    -webkit-box-shadow: 0px 2px 10px black;
    box-shadow: 0px 2px 10px black;
    margin: 5px;
    border: 0;
    vertical-align: middle; }
  .item .window-content .itemCol {
    margin: 5px;
    -webkit-box-shadow: 0px 2px 10px black;
    box-shadow: 0px 2px 10px black;
    padding: 5px; }
  .item .window-content .attr-npc-line .energyParam {
    float: left;
    width: 250px;
    padding: 0 5px 0 5px; }
  .item .window-content .attr-npc-line .statusParam {
    float: left;
    width: 250px;
    padding: 0 5px 0 5px; }
  .item .window-content .attr-npc-line .basicAttributesParam {
    float: left;
    width: 250px;
    padding: 0 5px 0 5px; }
  .item .window-content .charactParam .charact-list {
    height: 90px;
    width: 100%;
    text-align: left; }
    .item .window-content .charactParam .charact-list li {
      padding: 5px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      width: 100%; }
      .item .window-content .charactParam .charact-list li .charact-label {
        width: 100px; }

body {
  font-family: attic; }

.app {
  background: url(../images/ui/appFond.png);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px  #27535c;
  box-shadow: 0 0 30px  #27535c;
  padding-bottom: 0.5em;
  color: #f0f0e0;
  z-index: 30; }
  .app input[type="text"]::-webkit-input-placeholder, .app input[type="number"]::-webkit-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app input[type="text"]::-moz-placeholder, .app input[type="number"]::-moz-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app input[type="text"]:-ms-input-placeholder, .app input[type="number"]:-ms-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app input[type="text"]::-ms-input-placeholder, .app input[type="number"]::-ms-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app input[type="text"]::placeholder,
  .app input[type="number"]::placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app option {
    background: grey; }

.window-app .window-header {
  background: url(../images/ui/header.webp);
  background-size: 100% 100%;
  background-repeat: repeat-x; }

#controls .scene-control,
#controls .control-tool,
#controls .scene-control,
#controls .control-tool {
  background: url(../images/ui/actorFond.png);
  border: 1px solid black;
  color: #414141;
  -webkit-box-shadow: none;
  box-shadow: none; }

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: #FFF;
  border: 1px solid #20393e;
  border-top-color: #20393e;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #20393e;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #20393e;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-bottom: 1px solid black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black; }

#controls .scene-control.active,
#controls .control-tool.active {
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none; }

#controls .scene-control:hover,
#controls .control-tool:hover {
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  color: #20393e; }

#sidebar {
  border: 1px solid #000;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial; }

.chat-message {
  background: url(../images/ui/actorFond.png) repeat;
  padding: 5px;
  color: #191813;
  font-size: 14px; }
  .chat-message .message-header {
    line-height: 20px;
    color: #ece8ca;
    font-family: 'attic';
    text-shadow: 0px 0px 10px black; }
  .chat-message .message-content {
    padding: 0.5em;
    color: #000000;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.109); }

body {
  font-family: "kudry"; }
