@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");

@keyframes roll {

    from {
        -webkit-transform: scaleX(1.2) scaleY(1.2);
        transform: scaleX(1.2) scaleY(1.2);
        -webkit-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
    }

    33% {
        -webkit-transform: scaleX(0.8) scaleY(0.8);
        transform: scaleX(0.8) scaleY(0.8);
        -webkit-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
    }

    66% {
        -webkit-transform: scaleX(1.2) scaleY(1.2);
        transform: scaleX(1.2) scaleY(1.2);
        -webkit-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
    }

    to {
        -webkit-transform: scaleX(0.8) scaleY(0.8);
        transform: scaleX(0.8) scaleY(0.8);
        -webkit-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
    }
}

.actor .window-content {
    background-color: rgb(224, 206, 121);
    background-image: url(../images/ui/actorFond.png);

    input[type="text"]:hover,
        input[type="number"]:hover {
            box-shadow: 0 0 10px rgb(175, 182, 131);
        }

        input[type="text"]:focus,
        input[type="number"]:focus {
            box-shadow: 0 0 10px rgb(211, 226, 116);
        }

        input[type="text"]::placeholder,
        input[type="number"]::placeholder {
            color: rgba(109, 161, 161, 0.794);
            text-shadow: 0px 0px 10px black;
        }
    //------les dés à jeter
    .rollDices {
        background: url(../images/ui/dices.webp);
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 100px;
        min-height: 100px;
        width: 100px;
        position: absolute;
        right: -20px;
        top: 20px;
        display: block;
    }

    .rollDices:hover {
        animation-duration: 0.6s;
        animation-name: roll;
    }


    .sheet-header {
        background-image: url(../images/ui/appFond.png);

        -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
        flex: 0 0 170px;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 10px;

        input[type="text"],
        input[type="number"],
        input[type="password"],
        input[type="date"],
        input[type="time"] {
            min-width: 20px;
            padding: 5px;
            margin: 0;
            color: #e6e6e6;
            border: none;
            border-bottom: 1px solid #7a7971;
            border-radius: 3px;
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }

    

        img.profile-img {
            margin: auto;
            border: 0;
            height: 170px;
            vertical-align: middle;
            padding-right: 5px;
        }
    }

    .tabs {
        border-top: 1px solid #AAA;
        border-bottom: 1px solid #AAA;
        font-family: attic;
        color: black;
        background-color: #20393e62;

        .item {
            line-height: 40px;
            font-weight: bold;
            align-items: center;
        }      
        
        .item.active {
            text-decoration: underline;
            text-shadow: 0px 0px 10px #74d5ebc2;
        }        
    }

    .tab,
    .tab .editor {
        height: 100%;
    }

    a:hover {
        text-shadow: 0px 0px 10px #aee1ecc2;
    }

    // Actor-Sheet
    .actorSheet { 

        h1 {
            font-family: attic;

            input {
                text-transform: uppercase;
            }
        }

        h2 {
            color: black;
            font-family: attic;
            border-bottom: 2px solid #20393E;

        }

        .infos {
            text-align: right;
            font-family: kudry;
            font-weight: "bold";
            font-size: 12px;
        }

        // Radio box icons - Roll dice
        input[type=radio] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            cursor: pointer;
            -border-radius: 4px;
            height: 30px;
            width: 30px;
            background-image: url(../images/ui/dicesBox_unChecked.png);
            background-size: contain;
            filter:none;
        }

        input[type=radio]:checked {
            -border-radius: 4px;
            height: 30px;
            width: 30px;
            background-image: url(../images/ui/dicesBox_Checked.webp);
            background-size: contain;
            filter:none;

        }

        .tab {
            ol {
                padding: 0 10px 0 10px;
            }
            input[type="number"] {
                text-align: center;
                width: 30px;
            }
            input[type="text"] {
                border:0; 
                height:30px;
                padding: 0 5px;
            }
        
            .desc-actor-L1 {
                .constituentsParam {
                    float:left; 
                    width:250px; 
                    padding: 0 5px 0 5px;
                }
                .waysParam {
                    float:left; 
                    width:250px;  
                    padding: 0 5px 0 5px;  
                }   
                .targetsParam {
                    float:left; 
                    width:250px;  
                    padding: 0 5px 0 5px;
                }            
            }
            .desc-actor-L2 {
                .energyParam {            
                    float:left; 
                    width:215px; 
                    padding: 0 5px 0 5px;
                }
                .statusParam {
                    float:left; 
                    width:270px;   
                    padding: 0 5px 0 5px;
                }   
                .basicAttributesParam {
                    float:left; 
                    width:310px; 
                    padding: 0 5px 0 5px;
                }
                .detailAttributesParam {
                    float:left; 
                    width:100%; 
                    padding: 0 5px 0 5px;
                }                   
            }

            .attr-npc-line {
                .energyParam {
                    float:left; 
                    width:215px; 
                    padding: 0 5px 0 5px;
                }
                .statusParam {
                    float:left; 
                    width:270px;  
                    padding: 0 5px 0 5px;  
                }   
                .basicAttributesParam {
                    float:left; 
                    width:315px;  
                    padding: 0 5px 0 5px;
                }
            }

            .constituentsParam {
                li.constituents {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                
                    display: -webkit-flex;
                    -webkit-flex-wrap: wrap;
                    -webkit-flex-direction: column;
                    
                    align-content: flex-start;
                    height: 30px;
                    
                    div.constituents-choice {

                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                    
                        display: -webkit-flex;
                        -webkit-flex-wrap: wrap;
                        -webkit-flex-direction: column;
                        
                        align-content: flex-start;
                        height: 30px;
                        width: 150px;

                        background-color: #6B1C20;
                        border-bottom: 2px solid #24090a;

                        div.constituents-radio {
                            width:25px;
                        }
                        div.constituents-img {
                            width:25px;
                            img {
                                border: 0;
                                vertical-align: middle;
                            }
                        }
                        div.constituents-label {
                            span {
                                display: inline-block;
                                width:80px;
                                text-align: right;
                            } 
                        }
                    }            
                    div.constituents-value {
                        margin: 0 0 0 5px;
                    }
                }
            }

            .waysParam {
                li.ways {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                
                    display: -webkit-flex;
                    -webkit-flex-wrap: wrap;
                    -webkit-flex-direction: column;
                    
                    align-content: flex-start;
                    height: 30px;
                    
                    div.ways-choice {

                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                    
                        display: -webkit-flex;
                        -webkit-flex-wrap: wrap;
                        -webkit-flex-direction: column;
                        
                        align-content: flex-start;
                        height: 30px;
                        width: 180px;

                        background-color: #6B1C20;
                        border-bottom: 2px solid #24090a;

                        div.ways-radio {
                            width:25px;
                        }
                        div.ways-img {
                            width:25px;
                            img {
                                border: 0;
                                vertical-align: middle;
                            }
                        }
                        div.ways-label {
                            span {
                                display: inline-block;
                                width:120px;
                                text-align: right;
                            } 
                        }
                    }            
                    div.ways-value {
                        margin: 0 0 0 5px;
                    }
                }

                .money {
                    padding: 2px 0;
                }
            }
            .targetsParam {
                li.targets {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                
                    display: -webkit-flex;
                    -webkit-flex-wrap: wrap;
                    -webkit-flex-direction: column;
                    
                    align-content: flex-start;
                    height: 30px;

                    padding: 0 5px 0 5px;
                    
                    div.targets-choice {

                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                    
                        display: -webkit-flex;
                        -webkit-flex-wrap: wrap;
                        -webkit-flex-direction: column;
                        
                        align-content: flex-start;
                        height: 30px;
                        width: 180px;

                        background-color: #6B1C20;
                        border-bottom: 2px solid #24090a;

                        div.targets-img {
                            width:25px;
                            img {
                                border: 0;
                                vertical-align: middle;
                            }
                        }
                        div.targets-label {
                            span {
                                display: inline-block;
                                width:120px;
                                text-align: right;
                            } 
                        }
                    }            
                    div.targets-value {
                        margin: 0 0 0 5px;
                    }
                }
            }

            .energyParam {
                li.energy {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                
                    display: -webkit-flex;
                    -webkit-flex-wrap: wrap;
                    -webkit-flex-direction: column;
                    
                    align-content: flex-start;
                    height: 30px;

                    div.energy-choice {

                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                    
                        display: -webkit-flex;
                        -webkit-flex-wrap: wrap;
                        -webkit-flex-direction: column;
                        
                        align-content: flex-start;
                        height: 30px;
                        width: 150px;

                        background-color: #6B1C20;
                        color: #fff;
                        border-bottom: 2px solid #24090a;

                        div.energy-radio {
                            width:25px;
                        }
                        div.energy-img {
                            width:25px;
                            img {
                                border: 0;
                                vertical-align: middle;
                            }
                        }
                        div.energy-label {
                            span {
                                display: inline-block;
                                width:120px;
                                text-align: right;
                            } 
                        }
                    }            
                    div.energy-value {
                        margin: 0 0 0 5px;
                    }
                }

                li.special-energy {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                
                    display: -webkit-flex;
                    -webkit-flex-wrap: wrap;
                    -webkit-flex-direction: column;
                    
                    align-content: flex-start;
                    height: 30px;

                    div.special-energy-choice {

                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                    
                        display: -webkit-flex;
                        -webkit-flex-wrap: wrap;
                        -webkit-flex-direction: column;
                        
                        align-content: flex-start;
                        height: 30px;
                        width: 150px;

                        background-color: #20393E;
                        color: #fff;        
                        border-bottom: 2px solid #24090a;

                        div.special-energy-img {
                            width:25px;
                            img {
                                border: 0;
                                vertical-align: middle;
                            }
                        }
                        div.special-energy-label {
                            span {
                                display: inline-block;
                                width:120px;
                                text-align: right;
                            } 
                        }
                        div.special-energy-label input.special-energy.magic.name {
                            border: 0;
                            background-color: #20393E;
                            width: 120px;
                            text-align: right;
                        }      
                        div.special-energy-label input.special-energy.magic.name::placeholder {
                            color: #fff;
                            text-align: right;
                        }
                        
                    }            
                    div.special-energy-value {
                        width:35px;
                        margin: 0 0 0 5px;
                    }         
                }            
            }

            .statusParam {
                li.status {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                
                    display: -webkit-flex;
                    -webkit-flex-wrap: wrap;
                    -webkit-flex-direction: column;
                    
                    align-content: flex-start;
                    height: 30px;

                    div.status-label {

                        background-color: #6B1C20;
                        color: #fff;
                        border-bottom: 2px solid #24090a;
                        height: 30px;
                        span {
                            padding: 0 0 0 5px;
                            display: inline-block;
                            width:160px;
                            text-align: left;
                        } 
                    }
                
                    div.status-value {
                        width:100px;
                        margin: 0 0 0 5px;
                    }
                }
            }
            
            .basicAttributesParam {

                ::placeholder {
                    color:#fff;
                }

                ol.attributes-list {
                    
                    width: 300px;
                    li {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                    
                        display: -webkit-flex;
                        -webkit-flex-wrap: wrap;
                        -webkit-flex-direction: row;
                        
                        align-content: flex-start;
                        width: 100%;           
                    }
                    li.career {
                        width:100%;
                        .career-name {
                            background-color: #6B1C20;
                            border-bottom: 2px solid #24090a;                        
                            width:245px;                
                        }
                        .career-value {
                            padding: 0 0 0 5px;
                        }
                    }
                    li.pirateSkills-header {
                        background-color: #6B1C20;
                        border-bottom: 2px solid #24090a;   
                        width: 100%;
                        height: 30px;

                        .career-skill-label {
                            float: left;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    li.pirateSkills {

                        .pirateSkills-name {
                            border-bottom: 2px solid #24090a;                         
                            width:245px;    
                        }
                        .pirateSkills-weapon-name,
                        .pirateSkills-language {
                            text-align: right;
                        }

                        .pirateSkills-value {
                            padding: 0 0 0 5px;                      
                        }

                    }
                    li.proficiency {
                        .proficiency-name {
                            background-color: #6B1C20;
                            border-bottom: 2px solid #24090a;                            
                            width:245px;  

                        }
                        .proficiency-value  {
                            padding: 0 0 0 5px; 
                        }        
                    }
                    li.skill {
                        .skill-name {
                            background-color: #6B1C20;
                            border-bottom: 2px solid #24090a;  
                            width:100%;
                        }
                    }
                }    
            }

            .detailAttributesParam {
                ::placeholder {
                    color:#fff;
                }
                
                ol {
                    float:left;
                    width: 190px;
                    padding: 0;
                    border: 1px solid;
                    border-color: black;
                    background-color: #20393e2a;
                    .header {
                        background-color: #6B1C20;
                    }
                    li {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                    
                        display: -webkit-flex;
                        -webkit-flex-wrap: wrap;
                        -webkit-flex-direction: row;
                        
                        align-content: flex-start;
                        width: 100%; 

                        padding: 2px 5px;
                        
                        .attr-label {
                            width:145px;
                            
                            input {
                                height:26px;
                            }                        
                        }
                        .attr-weapon-name,
                        .attr-language {
                            width:145px;
                            padding: 7px 0 2px 0;
                            input {
                                height:26px;
                                text-align: right;
                            }    
                        }

                        span.header {
                            float: left;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    // Ship-Sheet
    .shipSheet {

        h1 {
            font-family: attic;

            input {
                text-transform: uppercase;
            }
        }

        h2 {
            color: black;
            font-family: attic;
            border-bottom: 2px solid #20393E;
        }

        .header-fields.ship .flag input {
            width: 75%;
        }

        .tab.description {
            .desc-ship-L1 {
                .sailsParam {
                    float:left; 
                    width:250px;
                }
                .hullParam {
                    float:left; 
                    width:250px;    
                    margin: auto 10px;  
                }
                .shipType {
                    float:left; 
                    width:250px;  
                    
                    img {
                        border: 0px; 
                    }       
                }
            }

            .desc-ship-L2 {

                .cannonsParam {
                    clear: both;
                    float:left;
                    width: 420px;
                    .cannons-list {
                        padding: 0 0 0 5px;
                    }
                    .cannonsShot-list {
                        padding: 0 0 0 5px;
                    }
                    .bmr-list {
                        padding: 0 0 0 5px;
                    }        
                }
                .cannonBallParam {
                    float:left;
                    margin: auto 10px;
        
                    .cannonBall-list {
                        padding: 0 0 0 5px;
        
                        .cannonBall {
                            display: flex;
                            padding: 5px 0 0 0;
        
                            .cannonBall-type { 
                                width: 70px; 
                            }
                            .cannonBall-quantity {
                                width: 50px; 
                                input {
                                    width: 30px; 
                                }            
                            }
                        }
                    }
                }
                .crewParam {
                    float:left;
        
                    .crew-list {
                        padding: 0 0 0 5px;
        
                        .crew {
                            display: flex;
                            padding: 5px 0 0 0;
        
                            .crew-label-total {
                                width: 110px; 
                            }
                            .crew-quantity-total {
        
                                width: 50px; 
                                input {
                                    width: 40px; 
                                }
                            }
        
                            .crew-label {
                                width: 90px; 
                            }
                            .crew-max {
                                width: 30px;
        
                            }
                            .crew-quantity {
                                width: 40px; 
                                input {
                                    width: 30px; 
                                }
                            }
                        }
                    }
                }
            }

            // Ship Sails
            li.sails {

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            
                display: -webkit-flex;
                -webkit-flex-wrap: wrap;
                -webkit-flex-direction: column;
                
                align-content: flex-start;

                div.sails-value {
                    flex: 0 0 100%;
                    -webkit-flex: 0 0 100%;
                
                    -webkit-order: -1;
                    order: -1;
                
                    width: 50px; 
                    margin: 0 auto;
                    text-align:center;

                    background-color: #6B1C20;
                    color: #fff;
                    border-bottom: 2px solid #24090a;  
                }    

                div.sails-damage {
                    border-bottom: 2px solid #24090a;  
                }       

            }
            li.sails.nbLine1 {

                height: 30px;   

                div.sails-damage {
                    flex: 0 0 100%;
                    -webkit-flex: 0 0 100%;
                }        

            }

            li.sails.nbLine2 {

                height: 60px;   

                div.sails-value {
                    padding: 15px 0 0 0;
                }

                div.sails-damage {
                    flex: 0 0 50%;
                    -webkit-flex: 0 0 50%;
                }        

            }

            li.sails.nbLine3 {

                height: 90px;   

                div.sails-value {
                    padding: 30px 0 0 0;
                }

                div.sails-damage {
                    flex: 0 0 33%;
                    -webkit-flex: 0 0 33%;
                }        

            }

            //  Ships Hull
            li.hull {

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            
                display: -webkit-flex;
                -webkit-flex-wrap: wrap;
                -webkit-flex-direction: column;
                
                align-content: flex-start;

                div.hull-value {
                    flex: 0 0 100%;
                    -webkit-flex: 0 0 100%;
                
                    -webkit-order: -1;
                    order: -1;
                
                    width: 50px; 
                    text-align:center;
                    margin: 0 auto;

                    background-color: #6B1C20;
                    color: #fff;
                    border-bottom: 2px solid #24090a;        
                }

                div.hull-damage {
                    border-bottom: 2px solid #24090a;  
                }       

            }

            li.hull.nbLine1 {
                
                height: 30px;   

                div.hull-damage {
                    flex: 0 0 100%;
                    -webkit-flex: 0 0 100%;
                }        

            }

            li.hull.nbLine2 {

                height: 60px;   

                div.hull-value {
                    padding: 15px 0 0 0;
                }


                div.hull-damage {
                    flex: 0 0 50%;
                    -webkit-flex: 0 0 50%;
                }        

            }

            // Ship cannons
            li.cannons {

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            
                display: -webkit-flex;
                -webkit-flex-wrap: wrap;
                -webkit-flex-direction: column;

                align-content: flex-start;

                div.cannons-side {
                    flex: 0 0 100%;
                    -webkit-flex: 0 0 100%;
                
                    -webkit-order: -1;
                    order: -1;
                
                    width: 75px; 
                    text-align:center;    
                    margin: 0 auto;

                    background-color: #6B1C20;
                    color: #fff;
                    border-bottom: 2px solid #24090a;

                }

                div.cannons-damage {
                    border-bottom: 2px solid #24090a;  
                }
            }

            li.cannons.nbLine1 {

                height: 30px;     

                div.cannons-damage {
                    flex: 0 0 100%;
                    -webkit-flex: 0 0 100%;
                }

            }

            li.cannons.nbLine2 {

                height: 60px; 

                div.cannons-side {
                    padding: 15px 0 0 0;
                }

                div.cannons-damage {
                    flex: 0 0 50%;
                    -webkit-flex: 0 0 50%;
                }

            }

            // Cannnons shot
            li.cannonsShot {

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            
                display: -webkit-flex;
                -webkit-flex-wrap: wrap;
                -webkit-flex-direction: column;

                align-content: flex-start;
                
                height: 30px;     

                .cannonsShot-name {

                    flex: 0 0 100%;
                    -webkit-flex: 0 0 100%;

                    -webkit-order: -1;
                    order: -1;

                    width: 75px; 
                    text-align:center;    
                    margin: 0 auto;

                    background-color: #6B1C20;
                    color: #fff;
                    border-bottom: 2px solid #24090a;

                }
                .cannonsShot-value {

                    div {
                        float: left;   

                        flex: 0 0 20px;
                        width: 20px;
                        height: 20px;
                        margin: 3px 8px 3px 5px;

                        text-align:center; 
                    }
                }
            } 
                    
            // BMR
            li.bmr {

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            
                display: -webkit-flex;
                -webkit-flex-wrap: wrap;
                -webkit-flex-direction: column;

                align-content: flex-start;
                
                height: 30px;     

                .bmr-name {

                    flex: 0 0 100%;
                    -webkit-flex: 0 0 100%;

                    -webkit-order: -1;
                    order: -1;

                    width: 75px; 
                    text-align:center;    
                    margin: 0 auto;

                    background-color: #6B1C20;
                    color: #fff;
                    border-bottom: 2px solid #24090a;
                    border-right:1px solid;   
                }

                .bmr-value {
                    float: left;
                    border-top:1px solid;
                    border-right:1px solid;
                    border-bottom:1px solid;
                    div.nbCol1 {
                        float: left;   
                        flex: 0 0 20px;
                        width: 20px;
                        height: 20px;
                        margin: 3px 8px 3px 5px;
                
                        text-align:center; 
                    }
                    div.nbCol2 {
                        float: left;
                        flex: 0 0 40px;
                        width: 50px;
                        height: 20px;
                        margin: 3px 8px 3px 5px;
                
                        text-align:center; 
                    }
                    div.nbCol3 {
                        float: left;   
                        flex: 0 0 60px;
                        width: 85px;
                        height: 20px;
                        margin: 3px 8px 3px 5px;
                
                        text-align:center; 
                    }  
                    div.nbCol4 {
                        float: left;   
                        flex: 0 0 60px;
                        width: 119px;
                        height: 20px;
                        margin: 3px 8px 3px 5px;
                
                        text-align:center; 
                    }     
                    
                }

            }        
        }

        .tab.crew {

            .crew-list {

                .crew-header {
                    display: flex;
                    text-align: center;

                }

                .crew-value {
                    padding: 5px 0 0 0;
                    display: flex;
                }

                .crew-rank {
                    width:45%;

                }
                .crew-name {
                    width:45%;

                }
                .crew-controls {
                    width:20%;
                    text-align:center;
                }
            }

        }

    }
}
