.item .window-content {

    background-color: rgb(224, 206, 121);
    background-image: url(../images/ui/actorFond.png);

    input[type="text"]:hover,
    input[type="number"]:hover {
        box-shadow: 0 0 10px rgb(175, 182, 131);
    }

    input[type="text"]:focus,
    input[type="number"]:focus {
        box-shadow: 0 0 10px rgb(211, 226, 116);
    }

    input[type="text"]::placeholder,
    input[type="number"]::placeholder {
        color: rgba(109, 161, 161, 0.794);
        text-shadow: 0px 0px 10px black;
    }

    .sheet-header {
        background-image: url(../images/ui/appFond.png);

        -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
        flex: 0 0 170px;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 10px;

        input[type="text"],
        input[type="number"],
        input[type="password"],
        input[type="date"],
        input[type="time"] {
            min-width: 20px;
            padding: 5px;
            margin: 0;
            color: #e6e6e6;
            border: none;
            border-bottom: 1px solid #7a7971;
            border-radius: 3px;
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }

        input[type="text"]:hover,
        input[type="number"]:hover {
            box-shadow: 0 0 5px rgb(113, 117, 86);
        }

        input[type="text"]:focus,
        input[type="number"]:focus {
            box-shadow: 0 0 10px rgb(113, 117, 86);
        }

        input[type="text"]::placeholder,
        input[type="number"]::placeholder {
            color: rgba(109, 161, 161, 0.794);
            text-shadow: 0px 0px 10px black;
        }

        // img.profile-img {
        //     margin: auto;
        //     border: 0;
        //     height: 170px;
        //     vertical-align: middle;
        //     padding-right: 5px;
        // }

    }

    .tabs {
        border-top: 1px solid #AAA;
        border-bottom: 1px solid #AAA;
        font-family: attic;
        color: black;
        background-color: #20393e62;

        .item {
            line-height: 40px;
            font-weight: bold;
            align-items: center;
        }

        .item.active {
            text-decoration: underline;
            text-shadow: 0px 0px 10px #74d5ebc2;
        }
    }

    .tab,
    .tab .editor {
        height: 100%;
        min-height: 60px
    }

    .sheet-body {
        h1 {
            font-family: attic;

            input {
                text-transform: uppercase;
            }
        }

        h2 {
            color: black;
            font-family: attic;
            border-bottom: 2px solid #20393E;

        }

        input {
            width: 30px;
            text-align: center;
            padding: 0 5px;
        }

        .profile-img {
            
            max-width: 30%;
            max-height: 170px;
            height: auto;
            border: none;
            -webkit-box-shadow: 0px 2px 10px black;
            box-shadow: 0px 2px 10px black;
            margin: 5px;
            border: 0;
            vertical-align: middle;

        }

    }

    .itemCol {
        margin: 5px;
        box-shadow: 0px 2px 10px black;
        padding: 5px;


    }

    .attr-npc-line {
        .energyParam {
            float: left;
            width: 250px;
            padding: 0 5px 0 5px;
        }

        .statusParam {
            float: left;
            width: 250px;
            padding: 0 5px 0 5px;
        }

        .basicAttributesParam {
            float: left;
            width: 250px;
            padding: 0 5px 0 5px;
        }
    }

    .charactParam {

        .charact-list {
            height: 90px;
            width: 100%;
            text-align: left;

            li {
                padding: 5px 0;

                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                display: -webkit-flex;
                -webkit-flex-wrap: wrap;
                -webkit-flex-direction: row;

                align-content: flex-start;
                width: 100%;

                .charact-label {
                    width: 100px;
                }
            }
        }
    }

}

