@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to capitainevaudou sheets */
/* .capitainevaudou .item-form {
  font-family: "Roboto", sans-serif;
} */

.capitainevaudou .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.capitainevaudou {
  font-size: 15px;
}

.capitainevaudou .tabs {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.capitainevaudou .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.capitainevaudou .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

img.logo {
  border: 0;
  height: 20px;
  vertical-align:middle;
}

/* CONSTITUENTS */
.capitainevaudou table.constituents {
  border-top: 0px;
  border-bottom: 0px;
}

.capitainevaudou td.constituents.label{
  background-color: #6B1C20;
  color: #fff;  
  width: 90%;
}

.capitainevaudou td.constituents.value{
  padding: 0px 5px;
}

.capitainevaudou input.constituents.value{
  width: 30px;
  background-color:#f2ece5;
  text-align: center;
} 

/* WAYS */
.capitainevaudou table.ways {
  border-top: 0px;
  border-bottom: 0px;
}

.capitainevaudou td.ways.label{
  background-color: #6B1C20;
  color: #fff;  
  width: 90%;
}

.capitainevaudou td.ways.value{
  padding: 0px 5px;
}

.capitainevaudou input.ways.value{
  width: 30px;
  background-color:#f2ece5;
  text-align: center;
} 

/* TARGET */
.capitainevaudou table.target {
  border-top: 0px;
  border-bottom: 0px;
}

.capitainevaudou td.target.label{
  background-color: #6B1C20;
  color: #fff;  
  width: 90%;
}

.capitainevaudou td.target.value{
  padding: 0px 5px;
}

.capitainevaudou input.target.value{
  width: 30px;
  background-color:#f2ece5;
  text-align: center;
} 

/* ENERGY */
.capitainevaudou table.energy {
  border-top: 0px;
  border-bottom: 0px;
}

.capitainevaudou td.energy.label{
  background-color: #6B1C20;
  color: #fff;  
  width: 90%;
}

.capitainevaudou td.energy.value{
  padding: 0px 5px;
}

.capitainevaudou input.energy.value{
  width: 30px;
  background-color:#f2ece5;
  text-align: center;
} 

/* SPECIAL ENERGY */
.capitainevaudou td.special-energy.label{
  background-color: #20393E;
  color: #fff;
  width: 90%;
}

.capitainevaudou input.magic.name {
  border: 0;
  background-color: #20393E;  
  color: #fff;   
  width: 90px;
}

.capitainevaudou input.magic.name::placeholder {
  color: #fff;
}


/* STATUS */
.capitainevaudou table.status {
  border-top: 0px;
  border-bottom: 0px;
}
.capitainevaudou td.status.label{
  background-color: #6B1C20;
  color: #fff;  
  width: 67%;
  padding: 0px 5px;
}

.capitainevaudou td.status.value{
  padding: 0px 5px;
  vertical-align:middle;
  text-align: center; 
}

.capitainevaudou input.status.value{
  width: 30px;
  background-color:#f2ece5;
  text-align: center;
} 


/* ATTRIBUTES */
.capitainevaudou table.attribute {
  border-top: 0px;
  border-bottom: 0px;
}

.capitainevaudou td.attribute.label{
  background-color: #6B1C20;
  color: #fff;  
  width: 33%;
  padding: 0px 5px;
}

.capitainevaudou input.attribute.name{
  background-color:#f2ece5;
}

.capitainevaudou td.attribute.value{
  padding-left: 5px;
}

.capitainevaudou input.attribute.value{
  width: 30px;
  background-color:#f2ece5;
}



/* Various */
.capitainevaudou .test.label{
  text-align: center;
}

p.infos {
  font-family:verdana;
  color: #6C9DAC;
  font-weight:"bold";
  font-size: 12px;
}

.capitainevaudou div.infos {
  text-align: right;
  font-family:verdana;
  color: #6C9DAC;
  font-weight:"bold";
  font-size: 12px;
}

.sheet header.sheet-header img.profile-img {
  margin: auto;
  border: 0;
  height: 150px; 
  vertical-align:middle;
  padding-right: 5px;
} 

input.pa {
  text-align: center;
  width: 50px;
}

.secondline {
  border: 0;
  width: 100%;
vertical-align: top;
background:transparent;
}

.secondline1C {
  vertical-align: top;
  width: 25%;
  padding: 5px;
}

.secondline2C {
  vertical-align: top;
  width: 35%;
  padding: 5px;
}

.secondline3C {
  vertical-align: top;
  width: 40%;
  padding: 5px;
}