@font-face {
    font-family: "attic";
    src: url("../font/Attic Antique.ttf"),
};



@font-face {
    font-family: "kudry";
    src: url("../font/Kudryashev Display Sans.ttf"),
};


$font-primary: 'kudry';
$font-secondary: 'attic';