.window-app .window-content {
  font-family: $font-primary;
  background-image: url(../images/ui/appFond.png);
  color : white;

input,
select,
button{
  color : white;
}

}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px white;
    cursor: pointer;
  }

  

}
form p.notes{
    color:rgb(192, 192, 165)
  }