<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="rollDices" tile="jetez les dés !">
  </div>
  {{!-- Sheet Header --}}
  <header class="sheet-header actorSheet">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />

    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" /></h1>

      <div class="resources grid grid-4col">

        <div>
          <input name="data.bio.nationality" type="text" value="{{data.bio.nationality}}"
            placeholder="{{localize 'actor-sheet.bio.nationality'}}" />
        </div>

        <div>
          <input name="data.bio.size" type="text" value="{{data.bio.size}}"
            placeholder="{{localize 'actor-sheet.bio.size'}}" />
        </div>

        <div>
          <input name="data.bio.weight" type="text" value="{{data.bio.weight}}"
            placeholder="{{localize 'actor-sheet.bio.weight'}}" />
        </div>

        <div>
          <input name="data.bio.age" type="text" value="{{data.bio.age}}"
            placeholder="{{localize 'actor-sheet.bio.age'}}" />
        </div>

      </div>

      <div class="resources grid grid-2col">
        <div>
          <input name="data.bio.pref_loa" type="text" value="{{data.bio.pref_loa}}"
            placeholder="{{localize 'actor-sheet.bio.pref_loa'}}" />
        </div>
        <div>
          <input name="data.bio.root_loa" type="text" value="{{data.bio.root_loa}}"
            placeholder="{{localize 'actor-sheet.bio.root_loa'}}" />
        </div>
      </div>
      <div>{{localize "actor-sheet.sheetType.label"}}
        <select class="sheetType" name="data.sheetType">
          {{#select data.sheetType}}
          <option value="init">{{localize "actor-sheet.sheetType.init"}}</option>
          <option value="basic">{{localize "actor-sheet.sheetType.basic"}}</option>
          <option value="detail">{{localize "actor-sheet.sheetType.detail"}}</option>
          {{/select}}
        </select>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "actor-sheet.tab.description"}}</a>
    <a class="item" data-tab="attributes">{{localize "actor-sheet.tab.attributes"}}</a>
    <a class="item" data-tab="items">{{localize "actor-sheet.tab.items"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body actorSheet">

    {{!-- Biography Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>


    {{!-- Description Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">

      <div class="desc-actor-L1">

        <div class="constituentsParam">
          <h2>{{localize "actor-sheet.constituents"}}</h2>

          <ol class="constituents-list">
            {{#each data.constituents as |constituents key|}}
            <li class="constituents">
              <div class="constituents-choice">
                <div class="constituents-radio">
                  <input type="radio" class="choiceConstituents" value="{{key}}" name="choiceConstituents"
                    {{checked constituents.isSelected}} />
                </div>
                <div class="constituents-img">
                  <img src="systems/capitainevaudou/images/Attributes/C-{{key}}.png" class="logo" />
                </div>
                <div class="constituents-label">
                  <span>{{constituents.label}}</span>
                </div>
              </div>
              <div class="constituents-value">
                <input type="number" name="data.constituents.{{key}}.value" class="constituents value"
                  value="{{constituents.value}}" min="{{constituents.min}}" max="{{constituents.max}}" />
              </div>
            </li>
            {{/each}}
          </ol>

          <div class="infos">
            <p>{{localize "actor-sheet.constituents-info"}}</p>
          </div>
        </div>

        <div class="waysParam">
          <h2>{{localize "actor-sheet.ways"}}</h2>

          <ol class="ways-list">
            {{#each data.ways as |ways key|}}
            <li class="ways">
              <div class="ways-choice">
                <div class="ways-radio">
                  <input type="radio" name="choiceWays" value={{key}} class="choiceWays" {{checked ways.isSelected}} />
                </div>
                <div class="ways-img">
                  <img src="systems/capitainevaudou/images/Attributes/M-{{key}}.png" class="logo" />
                </div>
                <div class="ways-label">
                  <span>{{ways.label}}</span>
                </div>
              </div>
              <div class="ways-value">
                <input type="number" name="data.ways.{{key}}.value" class="ways value" value="{{ways.value}}"
                  min="{{ways.min}}" max="{{ways.max}}" />
              </div>
            </li>
            {{/each}}
          </ol>

          <div class="infos">
            <p>{{localize "actor-sheet.ways-info"}}</p>
          </div>

          <div class="money">
            {{localize "actor-sheet.money"}}
            <input type="number" name="data.money" class="pa" value="{{data.money}}" min="0" />
          </div>

          <div class="adventurePoints">
            {{localize "actor-sheet.adventure_points"}}
            <input type="number" name="data.adventure_points" class="pa" value="{{data.adventure_points}}" min="0" />
          </div>

        </div>

        {{#iff data.sheetType '!=' 'init' }}
        <div class="targetsParam">
          <h2>{{localize "actor-sheet.target"}}</h2>

          <ol class="targets-list">
            {{#each data.target as |target key|}}
            <li class="targets">
              {{#if target.min}}
              <div class="targets-choice">
                <div class="targets-radio">
                  <input type="radio" name="ChoiceTargets" value={{key}} class="choiceTargets"
                    {{checked target.isSelected}} />
                </div>
                <div class="targets-img">
                  <img src="systems/capitainevaudou/images/Attributes/T-{{key}}.png" class="logo" />
                </div>
                <div class="targets-label">
                  <span>{{target.label}}</span>
                </div>
              </div>
              <div class="targets-value">
                <input type="number" name="data.target.{{key}}.value" class="target value" value="{{target.value}}"
                  min="{{target.min}}" max="{{target.max}}" />
              </div>
              {{else}}
              <div class="targets-choice">
                <div class="targets-radio">
                  <input type="radio" name="ChoiceTargets" value={{key}} class="choiceTargets"
                    {{checked target.isSelected}} />
                  <span>{{target.label}}</span>
                </div>
              </div>
              {{/if}}
            </li>
            {{/each}}
          </ol>

          <div class="infos">
            <p>{{localize "actor-sheet.target-info"}}</p>
          </div>
        </div>
        {{/iff}}

      </div>

      <div class="desc-actor-L2">

        <div class="energyParam">
          <h2>{{localize "actor-sheet.energy"}}</h2>

          {{#iff data.sheetType '!=' 'init' }}
          <ol class="energy-list">
            {{#each data.energy as |energy key|}}
            <li class="energy">

              <div class="energy-choice">
                <div class="energy-img">
                  <img src="systems/capitainevaudou/images/Energy/E-{{key}}.png" class="logo" />
                </div>
                <div class="energy-label">
                  <span>{{energy.label}} *</span>
                </div>
              </div>

              <div class="energy-value">
                <input type="number" name="data.energy.{{key}}.value" class="energy value" value="{{energy.value}}"
                  min="{{energy.min}}" max="{{energy.max}}" />
              </div>
            </li>
            {{/each}}
          </ol>
          {{/iff}}

          <ol class="special-energy-list">
            <li class="special-energy heroism">
              <div class="special-energy-choice">
                <div class="special-energy-img">
                  <img src="systems/capitainevaudou/images/Energy/E-Heroism.png" class="logo" />
                </div>
                <div class="special-energy-label">
                  <span>{{localize "actor-sheet.spe_energy-heroism"}} **</span>
                </div>
              </div>

              <div class="special-energy-value heroism">
                <input type="number" name="data.special_energy.heroism.value" class="special-energy heroism value"
                  value="{{data.special_energy.heroism.value}}" min="0" max="1" />
              </div>
            </li>

            <li class="special-energy magic">
              <div class="special-energy-choice">

                <div class="special-energy-img">
                  <img src="systems/capitainevaudou/images/Energy/E-Magic.png" class="logo" />
                </div>
                <div class="special-energy-label">
                  <input type="text" name="data.special_energy.magic.name" class="special-energy magic name"
                    value="{{data.special_energy.magic.name}}"
                    placeholder="{{localize 'actor-sheet.spe_energy-magic'}} **" />
                </div>
              </div>
              <div class="special-energy-value magic">
                <input type="number" name="data.special_energy.magic.value" class="special-energy magic value"
                  value="{{data.special_energy.magic.value}}" min="0" max="1" />
              </div>
            </li>
          </ol>

          <div class="infos">
            <p>{{localize "actor-sheet.energy-info"}}</p>
            <p>{{localize "actor-sheet.energy-info2"}}</p>
          </div>
        </div>

        <div class="statusParam">
          <h2>{{localize "actor-sheet.status"}}</h2>

          <ol class="status-list">
            {{#each data.status as |status key|}}
            <li class="status">
              <div class="status-label">
                <span class="state_txt">{{status.label}}</span>
              </div>
              <div class="status-value">
                <input type="number" name="data.status.{{key}}.value" class="status value" value="{{status.value}}"
                  min="{{status.min}}" max="{{status.max}}" />
                <span> / </span>
                <input type="number" name="data.status.{{key}}.max" class="status value" value="{{status.max}}"
                  min="{{status.min}}" max="{{status.max}}" />
              </div>
            </li>
            {{/each}}
          </ol>

        </div>

        {{#iff data.sheetType '!=' 'detail' }}
        <div class="basicAttributesParam">

          <h2>{{localize "actor-sheet.attributes"}}</h2>

          <ol class="attributes-list">

            <li class="career">

              <div class="career-name">
                <input type="text" name="data.attributes.basic.career.name"
                  value="{{data.attributes.basic.career.name}}"
                  placeholder="{{localize 'actor-sheet.attributes-career'}}" />
              </div>
              <div class=" career-value">
                <input type="number" name="data.attributes.basic.career.value"
                  value="{{data.attributes.basic.career.value}}" />
              </div>
            </li>


            {{#iff data.sheetType '!=' 'init' }}
            <li class="pirateSkills-header">
              <div class="career-skill-label">
                <span class="career-skill-label">{{localize "actor-sheet.attributes-basic.careerSkills"}}</span>
              </div>
            </li>

            {{#each data.attributes.basic.pirate_skills as |pirate_skill key|}}
            <li class="pirateSkills">
              <div class="pirateSkills-name">
                <input type="text" name="data.attributes.basic.pirate_skills.{{key}}.name" value="{{pirate_skill.name}}"
                  readonly />

                {{#iff pirate_skill.weaponName '!=' undefined }}
                <div class="pirateSkills-weapon-name">
                  <input type="text" name="data.attributes.basic.pirate_skills.{{key}}.weaponName"
                    value="{{pirate_skill.weaponName}}"
                    placeholder="{{localize 'actor-sheet.attributes-chooseWeapon'}}" />
                </div>
                {{/iff}}

                {{#iff pirate_skill.language '!=' undefined }}
                <div class="pirateSkills-language">
                  <input type="text" name="data.attributes.basic.pirate_skills.{{key}}.language"
                    value="{{pirate_skill.language}}"
                    placeholder="{{localize 'actor-sheet.attributes-chooseLanguage'}}" />
                </div>
                {{/iff}}
              </div>
              <div class="pirateSkills-value">
                <input type="number" name="data.attributes.basic.pirate_skills.{{key}}.value"
                  value="{{pirate_skill.value}}" />
              </div>
            </li>
            {{/each}}
            {{/iff}}

            {{#each data.attributes.basic.proficiency as |proficiency key|}}
            <li class="proficiency">
              <div class="proficiency-name">
                <input type="text" name="data.attributes.basic.proficiency.{{key}}.name" value="{{proficiency.name}}"
                  placeholder="{{localize 'actor-sheet.attributes-proficiency'}}" />
              </div>
              <div class="proficiency-value">
                <input type="number" name="data.attributes.basic.proficiency.{{key}}.value"
                  value="{{proficiency.value}}" />
              </div>
            </li>
            {{/each}}

            {{#each data.attributes.basic.skill as |skill key|}}
            <li class="skill">
              <div class="skill-name">
                <input type="text" name="data.attributes.basic.skill.{{key}}" value="{{skill}}"
                  placeholder="{{localize 'actor-sheet.attributes-skill'}}" />
              </div>
            </li>
            {{/each}}

          </ol>

        </div>
        {{else}}
        <div class="detailAttributesParam">

          <h2>{{localize "actor-sheet.attributes"}}</h2>

          {{#each data.attributes.detail as |line key|}}
          <div class="attributes{{key}}">
            <ol class="attributes{{key}}-list">
              <li class="header">
                <span class="header">
                  {{#switch key}}
                  {{#case "0"}}X{{/case}}
                  {{#case "1"}}-4{{/case}}
                  {{#case "2"}}-2{{/case}}
                  {{#case "3"}}0{{/case}}
                  {{/switch}}
                </span>
              </li>
              {{#each this as |attr keyLine|}}
              <li>
                <div>

                  {{#switch key}}
                  <div class="attr-label">
                    {{#case "0"}}{{#iff keyLine '<' '11'}}{{attr.label}}
                    {{else}}<input type="text" name="{{attr.label}}" value="{{attr.label}}" data-key="{{key}}"
                      data-keyLine="{{keyLine}}" />{{/iff}}{{/case}}

                    {{#case "1"}}{{#iff keyLine '<' '12'}}{{attr.label}}
                    {{else}}<input type="text" name="{{attr.label}}" value="{{attr.label}}" data-key="{{key}}"
                      data-keyLine="{{keyLine}}" />{{/iff}}{{/case}}

                    {{#case "2"}}{{#iff keyLine '<' '8'}}{{attr.label}}
                    {{else}}<input type="text" name="{{attr.label}}" value="{{attr.label}}" data-key="{{key}}"
                      data-keyLine="{{keyLine}}" />{{/iff}}{{/case}}

                    {{#case "3"}}{{#iff keyLine '<' '8'}}{{attr.label}}
                    {{else}}<input type="text" name="{{attr.label}}" value="{{attr.label}}" data-key="{{key}}"
                      data-keyLine="{{keyLine}}" />{{/iff}}{{/case}}

                    {{/switch}}

                  </div>

                  {{#iff attr.weaponName '!=' undefined }}
                  <div class="attr-weapon-name">
                    <input type="text" name="{{attr.weaponName}}" value="{{attr.weaponName}}" data-key="{{key}}"
                    data-keyLine="{{keyLine}}"
                    placeholder="{{localize 'actor-sheet.attributes-chooseWeapon'}}" />
                  </div>
                  {{/iff}}

                  {{#iff attr.language '!=' undefined }}
                  <div class="attr-language">
                    <input type="text" name="{{attr.language}}" value="{{attr.language}}" data-key="{{key}}"
                    data-keyLine="{{keyLine}}"
                    placeholder="{{localize 'actor-sheet.attributes-chooseLanguage'}}" />
                  </div>
                  {{/iff}}
                </div>
                <div class="attr-value"><input type="number" name="{{attr.value}}" value="{{attr.value}}"
                    data-key="{{key}}" data-keyLine="{{keyLine}}" /></div>
              </li>
              {{/each}}
            </ol>
          </div>
          {{/each}}

        </div>
        {{/iff}}
      </div>

    </div>

    {{!-- Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      <h2>{{localize "actor-sheet.items-weapons"}}</h2>

      <ol class="weapon-list">
        <li class="item weapon flexrow item-header">
          <div class="weapon-name">Name</div>
          <div class="weapon-damage">PS / PV</div>
          <div class="weapon-controls">
            <a class="weapon-control item-create" title="Create Weapon" data-type="weapon"><i class="fas fa-plus"></i>
              {{localize "actor-sheet.items-add"}}</a>
          </div>
        </li>
        {{#each actor.weapon as |item id|}}
        <li class="item weapon flexrow" data-item-id="{{item._id}}">
          <div class="weapon-name">{{item.name}}</div>
          <div class="weapon-damage-label"><span>{{data.damageEndurance}} / {{data.damageLife}}</span></div>
          <div class="weapon-controls">
            <a class="weapon-control item-edit" title="{{localize 'actor-sheet.items-edit'}}"><i
                class="fas fa-edit"></i></a>
            <a class="weapon-control item-delete" title="{{localize 'actor-sheet.items-delete'}}"><i
                class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

      <h2>Objects</h2>
      <ol class="object-list">
        <li class="item object flexrow item-header">
          <div class="object-name">Name</div>
          <div class="object-quantity">Quantity</div>
          <div class="object-controls">
            <a class="object-control item-create" title="Create object" data-type="object"><i class="fas fa-plus"></i>
              {{localize "actor-sheet.items-add"}}</a>
          </div>
        </li>
        {{#each actor.object as |item id|}}
        <li class="item object flexrow" data-item-id="{{item._id}}">
          <div class="object-name">{{item.name}}</div>
          <div class="object-strength"><span>{{data.quantity}}</span></div>
          <div class="object-controls">
            <a class="object-control item-edit" title="{{localize 'actor-sheet.items-edit'}}"><i
                class="fas fa-edit"></i></a>
            <a class="object-control item-delete" title="{{localize 'actor-sheet.items-delete'}}"><i
                class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

      <h2>Gad</h2>
      <ol class="gad-list">
        <li class="item gad flexrow item-header">
          <div class="gad-name">Name</div>
          <div class="gad-strength">Strength</div>
          <div class="gad-controls">
            <a class="gad-control item-create" title="Create gad" data-type="gad"><i class="fas fa-plus"></i>
              {{localize "actor-sheet.items-add"}}</a>
          </div>
        </li>
        {{#each actor.gad as |item id|}}
        <li class="item gad flexrow" data-item-id="{{item._id}}">
          <div class="gad-name">{{item.name}}</div>
          <div class="gad-strength"><span>{{data.strength}}</span></div>
          <div class="gad-controls">
            <a class="gad-control item-edit" title="{{localize 'actor-sheet.items-edit'}}"><i
                class="fas fa-edit"></i></a>
            <a class="gad-control item-delete" title="{{localize 'actor-sheet.items-delete'}}"><i
                class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

      <h2>Wanga</h2>
      <ol class="wanga-list">
        <li class="item wanga flexrow item-header">
          <div class="wanga-name">Name</div>
          <div class="gad-strength">Strength</div>
          <div class="wanga-controls">
            <a class="wanga-control item-create" title="Create wanga" data-type="wanga"><i class="fas fa-plus"></i>
              {{localize "actor-sheet.items-add"}}</a>
          </div>
        </li>
        {{#each actor.wanga as |item id|}}
        <li class="item wanga flexrow" data-item-id="{{item._id}}">
          <div class="wanga-name">{{item.name}}</div>
          <div class="gad-strength"><span>{{data.strength.value}} / {{data.strength.max}}</span></div>
          <div class="wanga-controls">
            <a class="wanga-control item-edit" title="{{localize 'actor-sheet.items-edit'}}"><i
                class="fas fa-edit"></i></a>
            <a class="wanga-control item-delete" title="{{localize 'actor-sheet.items-delete'}}"><i
                class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

      <h2>Veve</h2>
      <ol class="veve-list">
        <li class="item veve flexrow item-header">
          <div class="veve-name">Name</div>
          <div class="veve-controls">
            <a class="veve-control item-create" title="Create veve" data-type="veve"><i class="fas fa-plus"></i>
              {{localize "actor-sheet.items-add"}}</a>
          </div>
        </li>
        {{#each actor.veve as |item id|}}
        <li class="item veve flexrow" data-item-id="{{item._id}}">
          <div class="veve-name">{{item.name}}</div>
          <div class="veve-controls">
            <a class="veve-control item-edit" title="{{localize 'actor-sheet.items-edit'}}"><i
                class="fas fa-edit"></i></a>
            <a class="veve-control item-delete" title="{{localize 'actor-sheet.items-delete'}}"><i
                class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>



    </div>

  </section>
</form>