<!-- <div class="dice-roll"> -->
<div>
    <div class="dice-result">

        <div class="cpr-roll-title">{{title}}</div>
        {{#if flavor}}<div class="cpr-roll-flavor"><em>{{flavor}}</em></div>{{/if}}
        {{#if details}}<div class="cpr-roll-details">{{{details}}}</div>{{/if}}

        <h4 class="dice-total">{{diceResult}}</h4>        
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">

                    <ol class="dice-rolls">
                        {{#each dieResult as |die key|}}
                        <li class="roll die d6">{{die}}</li>
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>

        {{#if tags}}
        <label>
            <div class="cpr-roll-showtagslink">Details Available</div>
            <input class="cpr-roll-showtagscheck" type="checkbox">
            <div class="cpr-roll-tags">{{{cprTags tags}}}</div>
        </label>
        {{/if}}

    </div>
</div>