<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />

    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" /></h1>

      {{#iff data.npcType '==' 'human' }}
      <div class="resources grid grid-4col">

        <div>
          <input name="data.bio.nationality" type="text" value="{{data.bio.nationality}}"
            placeholder="{{localize 'actor-sheet.bio.nationality'}}" />
        </div>

        <div>
          <input name="data.bio.size" type="text" value="{{data.bio.size}}"
            placeholder="{{localize 'actor-sheet.bio.size'}}" />
        </div>

        <div>
          <input name="data.bio.weight" type="text" value="{{data.bio.weight}}"
            placeholder="{{localize 'actor-sheet.bio.weight'}}" />
        </div>

        <div>
          <input name="data.bio.age" type="text" value="{{data.bio.age}}"
            placeholder="{{localize 'actor-sheet.bio.age'}}" />
        </div>

      </div>

      <div class="resources grid grid-2col">
        <div>
          <input name="data.bio.pref_loa" type="text" value="{{data.bio.pref_loa}}"
            placeholder="{{localize 'actor-sheet.bio.pref_loa'}}" />
        </div>
        <div>
          <input name="data.bio.root_loa" type="text" value="{{data.bio.root_loa}}"
            placeholder="{{localize 'actor-sheet.bio.root_loa'}}" />
        </div>
      </div>
      {{else}}
      <div class="resources grid grid-2col">
        <div>
          <input name="data.bio.size" type="text" value="{{data.bio.size}}"
            placeholder="{{localize 'actor-sheet.bio.size'}}" />
        </div>
        <div>
          <input name="data.bio.weight" type="text" value="{{data.bio.weight}}"
            placeholder="{{localize 'actor-sheet.bio.weight'}}" />
        </div>
      </div>
      {{/iff}}
      <div>NPC type :
        <select class="npcType" name="data.npcType">
          {{#select data.npcType}}
          <option value="human">Humain</option>
          <option value="creature">Créature</option>
          {{/select}}
        </select>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "actor-sheet.tab.description"}}</a>
    <a class="item" data-tab="attributes">{{localize "actor-sheet.tab.attributes"}}</a>
    {{#iff data.npcType '==' 'human' }}
    <a class="item" data-tab="items">{{localize "actor-sheet.tab.items"}}</a>
    {{/iff}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body actorSheet">

    {{!-- Biography Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">

      <div class="attr-npc-line">

        <div class="energyParam">
          <h2>{{localize "actor-sheet.energy"}}</h2>

          {{#iff data.sheetType '!=' 'init' }}
          <ol class="energy-list">
            {{#each data.energy as |energy key|}}
            <li class="energy">

              <div class="energy-choice">
                <div class="energy-img">
                  <img src="systems/capitainevaudou/images/Energy/E-{{key}}.png" class="logo" />
                </div>
                <div class="energy-label">
                  <span>{{energy.label}} *</span>
                </div>
              </div>

              <div class="energy-value">
                <input type="number" name="data.energy.{{key}}.value" class="energy value" value="{{energy.value}}"
                  min="{{energy.min}}" max="{{energy.max}}" />
              </div>
            </li>
            {{/each}}
          </ol>
          {{/iff}}

          <ol class="special-energy-list">
            <li class="special-energy heroism">
              <div class="special-energy-choice">
                <div class="special-energy-img">
                  <img src="systems/capitainevaudou/images/Energy/E-Heroism.png" class="logo" />
                </div>
                <div class="special-energy-label">
                  <span>{{localize "actor-sheet.spe_energy-heroism"}} **</span>
                </div>
              </div>

              <div class="special-energy-value heroism">
                <input type="number" name="data.special_energy.heroism.value" class="special-energy heroism value"
                  value="{{data.special_energy.heroism.value}}" min="0" max="1" />
              </div>
            </li>

            <li class="special-energy magic">
              <div class="special-energy-choice">

                <div class="special-energy-img">
                  <img src="systems/capitainevaudou/images/Energy/E-Magic.png" class="logo" />
                </div>
                <div class="special-energy-label">
                  <input type="text" name="data.special_energy.magic.name" class="special-energy magic name"
                    value="{{data.special_energy.magic.name}}"
                    placeholder="{{localize 'actor-sheet.spe_energy-magic'}} **" />
                </div>
              </div>
              <div class="special-energy-value magic">
                <input type="number" name="data.special_energy.magic.value" class="special-energy magic value"
                  value="{{data.special_energy.magic.value}}" min="0" max="1" />
              </div>
            </li>
          </ol>

          <div class="infos">
            <p>{{localize "actor-sheet.energy-info"}}</p>
            <p>{{localize "actor-sheet.energy-info2"}}</p>
          </div>
        </div>

        <div class="statusParam">
          <h2>{{localize "actor-sheet.status"}}</h2>

          <ol class="status-list">
            {{#each data.status as |status key|}}
            <li class="status">
              <div class="status-label">
                <span class="state_txt">{{status.label}}</span>
              </div>
              <div class="status-value">
                <input type="number" name="data.status.{{key}}.value" class="status value" value="{{status.value}}"
                  min="{{status.min}}" max="{{status.max}}" />
                <span> / </span>
                <input type="number" name="data.status.{{key}}.max" class="status value" value="{{status.max}}"
                  min="{{status.min}}" max="{{status.max}}" />
              </div>
            </li>
            {{/each}}
          </ol>

        </div>

        {{#iff data.npcType '==' 'human' }}
        <div class="basicAttributesParam">

          <h2>{{localize "actor-sheet.attributes"}}</h2>

          <ol class="attributes-list">

            <li class="career">

              <div class="career-name">
                <input type="text" name="data.attributes.basic.career.name"
                  value="{{data.attributes.basic.career.name}}"
                  placeholder="{{localize 'actor-sheet.attributes-career'}}" />
              </div>
              <div class=" career-value">
                <input type="number" name="data.attributes.basic.career.value"
                  value="{{data.attributes.basic.career.value}}" />
              </div>
            </li>

            {{#each data.attributes.basic.proficiency as |proficiency key|}}
            <li class="proficiency">
              <div class="proficiency-name">
                <input type="text" name="data.attributes.basic.proficiency.{{key}}.name" value="{{proficiency.name}}"
                  placeholder="{{localize 'actor-sheet.attributes-proficiency'}}" />
              </div>
              <div class="proficiency-value">
                <input type="number" name="data.attributes.basic.proficiency.{{key}}.value"
                  value="{{proficiency.value}}" />
              </div>
            </li>
            {{/each}}

            {{#each data.attributes.basic.skill as |skill key|}}
            <li class="skill">
              <div class="skill-name">
                <input type="text" name="data.attributes.basic.skill.{{key}}" value="{{skill}}"
                  placeholder="{{localize 'actor-sheet.attributes-skill'}}" />
              </div>
            </li>
            {{/each}}

          </ol>

        </div>


      </div>
      {{/iff}}

    </div>

    {{!-- Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      <h2>Weapons</h2>

      <ol class="weapon-list">
        <li class="item weapon flexrow item-header">
          <div class="weapon-image"></div>
          <div class="weapon-name">Name</div>
          <div class="weapon-controls">
            <a class="weapon-control item-create" title="Create Weapon" data-type="weapon"><i class="fas fa-plus"></i>
              Add Weapon</a>
          </div>
        </li>
        {{#each actor.weapon as |item id|}}
        <li class="item weapon flexrow" data-item-id="{{item._id}}">
          <div class="weapon-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="weapon-name">{{item.name}}</h4>
          <span class="weapon-damage-label">
            <input class="weapon-damageLife" type="text" name="data.damageEndurance" value="{{data.damageEndurance}}" />
            /
            <input class="weapon-damageEndurance" type="text" name="data.damageLife" value="{{data.damageLife}}" />
          </span>
          <div class="weapon-controls">
            <a class="weapon-control item-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>
            <a class="weapon-control item-delete" title="Delete Weapon"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

      <h2>Objects</h2>
      blablablaa

      <h2>Gad</h2>
      <ol class="gad-list">
        <li class="item gad flexrow item-header">
          <div class="gad-image"></div>
          <div class="gad-name">Name</div>
          <div class="gad-controls">
            <a class="gad-control item-create" title="Create gad" data-type="gad"><i class="fas fa-plus"></i>
              Add Gad</a>
          </div>
        </li>
        {{#each actor.gad as |item id|}}
        <li class="item gad flexrow" data-item-id="{{item._id}}">
          <div class="gad-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="gad-name">{{item.name}}</h4>
          <span class="gad-strength"><input type="text" name="data.strength" value="{{data.strength}}" /></span>
          <div class="gad-controls">
            <a class="gad-control item-edit" title="Edit Gad"><i class="fas fa-edit"></i></a>
            <a class="gad-control item-delete" title="Delete Gad"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

      <h2>Wanga</h2>
      <ol class="wanga-list">
        <li class="item wanga flexrow item-header">
          <div class="wanga-image"></div>
          <div class="wanga-name">Name</div>
          <div class="wanga-controls">
            <a class="wanga-control item-create" title="Create wanga" data-type="wanga"><i class="fas fa-plus"></i>
              Add Wanga</a>
          </div>
        </li>
        {{#each actor.wanga as |item id|}}
        <li class="item wanga flexrow" data-item-id="{{item._id}}">
          <div class="wanga-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="wanga-name">{{item.name}}</h4>
          <div class="wanga-controls">
            <a class="wanga-control item-edit" title="Edit Wanga"><i class="fas fa-edit"></i></a>
            <a class="wanga-control item-delete" title="Delete Wanga"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

      <h2>Veve</h2>
      <ol class="veve-list">
        <li class="item veve flexrow item-header">
          <div class="veve-image"></div>
          <div class="veve-name">Name</div>
          <div class="veve-controls">
            <a class="veve-control item-create" title="Create veve" data-type="veve"><i class="fas fa-plus"></i>
              Add Veve</a>
          </div>
        </li>
        {{#each actor.veve as |item id|}}
        <li class="item veve flexrow" data-item-id="{{item._id}}">
          <div class="veve-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="veve-name">{{item.name}}</h4>
          <div class="veve-controls">
            <a class="veve-control item-edit" title="Edit Veve"><i class="fas fa-edit"></i></a>
            <a class="veve-control item-delete" title="Delete Veve"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

    </div>

  </section>

</form>