<form>
  <h3 class="form-group">
    <div class="flexcol">
      {{#each data.constituents as |constituents key|}}
      {{#iff constituents.isSelected '==' true}}
      <span>{{constituents.label}} {{constituents.value}}</span>
      {{/iff}}
      {{/each}}
    </div>
    <div class="flexcol">
      {{#each data.ways as |ways key|}}
      {{#iff ways.isSelected '==' true}}
      <span>{{ways.label}} {{ways.value}}</span>
      {{/iff}}
      {{/each}}
    </div>
    <div class="flexcol">
      {{#each data.target as |targets key|}}
      {{#iff targets.isSelected '==' true}}
      <span>{{targets.label}} {{targets.value}}</span>
      {{/iff}}
      {{/each}}
    </div>
  </h3>

  <div class="form-group">
    <label>Difficulté ?</label>
    <input type="text" name="difficulty" value="" />
  </div>

  <div class="form-group">
    <label>Talents ?</label>
    <input type="text" name="skill" value="" />
  </div>

  <div class="form-group">
    <label>Energie(s) claquée(s) ?</label>
    <input type="text" name="energy" value="" />
  </div>

  <div class="form-group">
    <label>Rolls!</label>
    <select name="rollMode">
      {{#select rollMode}}
      {{#each rollModes as |label mode|}}
      <option value="{{mode}}">{{localize label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</form>