<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header shipSheet">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />

        <div class="header-fields ship">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" /></h1>

            <div class="resources grid grid-2col">
                <div>{{localize "ship-sheet-type"}}
                    <select class="shipType" name="data.shipType">
                        {{#select data.shipType}}
                        {{#each data.shipList as |type key|}}
                        <option class="shipType" data-key="{{key}}" value="{{type.type}}">{{type.label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="flag">Pavillon: <input class="flag" name="data.flag" type="text" value="{{data.flag}}" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="articles">{{localize "ship-sheet.tab.articles"}}</a>
        <a class="item" data-tab="description">{{localize "ship-sheet.tab.description"}}</a>
        <a class="item" data-tab="crew">{{localize "ship-sheet.tab.crew"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body shipSheet">

        {{!-- Biography Tab --}}
        <div class="tab articles" data-group="primary" data-tab="articles">
            {{editor content=data.pirateArticles target="data.pirateArticles" button=true owner=owner editable=editable}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="desc-ship-L1">

                <div class="sailsParam">
                    <h2>Voilure</h2>
                    <ol class="sails-list">
                        {{#each data.sails.damage as |sailsDamage key|}}
                        <li class="sails nbLine{{sailsDamage.lines.length}} ">
                            <div class="sails-value">{{sailsDamage.value}}</div>
                            {{#each this.lines as |damageLine keyLine|}}
                            <div class="sails-damage">
                                {{#each this as |damageLineValue keyLineValue|}}
                                <input class="sailsDamage" type="checkbox" name="{{damageLineValue.state}}"
                                    value="{{damageLineValue.state}}" {{checked this.state}} data-damage-id="{{key}}"
                                    data-damage-line-id="{{keyLine}}" data-damage-value-id="{{keyLineValue}}">
                                {{/each}}
                            </div>
                            {{/each}}
                        </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="hullParam">
                    <h2>Coque</h2>
                    <ol class="hull-list">
                        {{#each data.hull.damage as |hullDamage key|}}
                        <li class="hull nbLine{{hullDamage.lines.length}}">
                            <div class="hull-value"> {{hullDamage.value}}</div>
                            {{#each this.lines as |damageLine keyLine|}}
                            <div class="hull-damage">
                                {{#each this as |damageLineValue keyLineValue|}}
                                <input class="hullDamage" type="checkbox" name="{{damageLineValue.state}}"
                                    value="{{damageLineValue.state}}" {{checked this.state}} data-damage-id="{{key}}"
                                    data-damage-line-id="{{keyLine}}" data-damage-value-id="{{keyLineValue}}">
                                {{/each}}
                            </div>
                            {{/each}}
                        </li>
                        {{/each}}
                    </ol>

                    <div class="shipParam">
                        <div>Tirant d'eau : {{data.draught}}</div>
                        <div>Vitesse/jour : {{data.performance}}</div>
                        <div>VM : {{data.perfManoeuvre}}</div>
                    </div>

                </div>

                <div class="shipType">
                    {{#if data.shipType}}
                    <img src="systems/capitainevaudou/images/Ship/{{data.shipType}}.png" class="shipType pics" />
                    {{/if}}
                </div>

            </div>

            <div class="desc-ship-L2">

                <div class="cannonsParam">
                    <h2>Canons</h2>
                    <ol class="cannons-list port">
                        <li class="cannons nbLine{{data.cannons.port.cannons.length}} port">
                            <div class="cannons-side port">Babord</div>

                            {{#each data.cannons.port.cannons as |Deck key|}}
                            <div class="cannons-damage port ">
                                {{#each this as |cannon keyLine|}}
                                <input class="cannons" type="checkbox" name="{{this.state}}" value="{{this.state}}"
                                    data-side="port" data-deck="{{key}}" data-value="{{keyLine}}"
                                    {{checked this.state}}>
                                {{/each}}
                            </div>
                            {{/each}}
                        </li>
                    </ol>

                    <ol class="cannons-list starboard">

                        <li class="cannons starboard nbLine{{data.cannons.port.cannons.length}}">
                            <div class="cannons-side nstarboard">Tribord</div>

                            {{#each data.cannons.starboard.cannons as |Deck key|}}

                            <div class="cannons-damage starboard ">
                                {{#each this as |cannon keyLine|}}
                                <input class="cannons" type="checkbox" name="{{this.state}}" value="{{this.state}}"
                                    data-side="starboard" data-deck="{{key}}" data-value="{{keyLine}}"
                                    {{checked this.state}}>
                                {{/each}}
                            </div>

                            {{/each}}
                        </li>

                    </ol>

                    <ol class="cannonsShot-list starboard">
                        <li class="cannonsShot">
                            <div class="cannonsShot-name">Bordée</div>

                                {{#each data.cannons.cannonsShot as |shot key|}}
                                {{#iff key '<' ../data.cannons.port.cannons.0.length }}
                                <div class="cannonsShot-value">
                                <div>{{shot}}</div>
                            </div>
                                {{/iff}}
                                {{/each}}
        
                        </li>

                    </ol>

                    <ol class="bmr-list">
                        <li class="bmr">
                            <div class="bmr-name">BMR</div>

                            {{#each data.cannons.bmr as |bmr key|}}
                            <div class="bmr-value">
                                <div class="nbCol{{bmr.length}}" value="{{bmr.value}}">{{bmr.value}}</div>
                            </div>
                            {{/each}}

                        </li>

                    </ol>


                </div>


                <div class="cannonBallParam">
                    <h2>Boulets</h2>

                    <ol class="cannonBall-list">
                        <li class="cannonBall">
                            <div class="cannonBall-type">Creux</div>
                            <div class="cannonBall-quantity">
                                <input name="data.cannonballs.round" type="text" value="{{data.cannonballs.round}}" />
                            </div>
                        </li>
                        <li class="cannonBall">
                            <div class="cannonBall-type">Mitraille</div>
                            <div class="cannonBall-quantity">
                                <input name="data.cannonballs.shrapnel" type="text"
                                    value="{{data.cannonballs.shrapnel}}" />
                            </div>
                        </li>
                        <li class="cannonBall">
                            <div class="cannonBall-type">Ramés</div>
                            <div class="cannonBall-quantity">
                                <input name="data.cannonballs.chain" type="text" value="{{data.cannonballs.chain}}" />
                            </div>
                        </li>
                        <li class="cannonBall">
                            <div class="cannonBall-type">Rouges</div>
                            <div class="cannonBall-quantity">
                                <input name="data.cannonballs.heated" type="text" value="{{data.cannonballs.heated}}" />
                            </div>
                        </li>
                    </ol>

                </div>

                <div class="crewParam">
                    <h2>Equipage</h2>

                    <ol class="crew-list">
                        <li class="crew">
                            <div class="crew-label-total">Equipage</div>
                            <div class="crew-quantity-total">
                                <input name="data.crew.number" type="text" value="{{data.crew.number}}" />
                            </div>
                        </li>
                        <li class="crew">
                            <div class="crew-label"> Manoeuvre</div>
                            <div class="crew-max">{{data.crew.manoeuvre.max}}</div>
                            <div class="crew-quantity">
                                <input name="data.crew.manoeuvre.value" type="text"
                                    value="{{data.crew.manoeuvre.value}}" />
                            </div>
                        </li>
                        <li class="crew">
                            <div class="crew-label">Complément</div>
                            <div class="crew-max">{{data.crew.complement.max}}</div>
                            <div class="crew-quantity">
                                <input name="data.crew.complement.value" type="text"
                                    value="{{data.crew.complement.value}}" />
                            </div>
                        </li>
                        <li class="crew">
                            <div class="crew-label">Max</div>
                            <div class="crew-max">{{data.crew.max.max}}</div>
                            <div class="crew-quantity">
                                <input name="data.crew.max.value" type="text" value="{{data.crew.max.value}}" />
                            </div>

                        </li>
                    </ol>

                </div>

            </div>

        </div>

        {{!-- Crew Tab --}}
        <div class="tab crew" data-group="primary" data-tab="crew">
            <h2>Equipage</h2>

            <ol class="crew-list">
                <li class="crew-header">
                    <div class="crew-rank">Rank</div>
                    <div class="crew-name">Name</div>
                    <div class="crew-controls">
                        <a class="crew-control crew-create" title="Create Crew" data-type="crew">
                            <i class="fas fa-plus"></i>Add Crew</a>
                    </div>
                </li>
                {{#each data.crew.list as |crew id|}}
                {{#if crew}}
                <li class="crew-value" data-item-id="{{id}}">
                    <div class="crew-rank value"><input name="{{crew.rank}}" type="text" value="{{crew.rank}}" /></div>
                    <div class="crew-name value"><input name="{{crew.name}}" type="text" value="{{crew.name}}" /></div>
                    <div class="crew-controls">
                        <a class="crew-control crew-delete" title="Delete Crew"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/if}}
                {{/each}}
            </ol>

        </div>

    </section>

</form>