
.chat-message {
    background: url(../images/ui/actorFond.png) repeat;
    padding: 5px;
    color: #191813;
    font-size: 14px;


     .message-header {
        line-height: 20px;
        color: #ece8ca;
        font-family: 'attic';
        text-shadow: 0px 0px 10px black;
    }
    .message-content {
        padding: 0.5em;
        color: #000000;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.109);
}
}
