//--------style global
body {
    font-family: attic;

}

.app {
    background: url(../images/ui/appFond.png);
    border-radius: 5px;
    box-shadow: 0 0 30px  #27535c;
    padding-bottom: 0.5em;
   
    color: #f0f0e0;
    z-index: 30;
    input[type="text"]::placeholder,
    input[type="number"]::placeholder {
        color: rgba(109, 161, 161, 0.794);
        text-shadow: 0px 0px 10px black;
    }
    option{
        background:grey;
    }
}
.window-app .window-header{
    background: url(../images/ui/header.webp);
    background-size: 100% 100%;
    background-repeat: repeat-x;

}


//---------bouttons scene control


#controls .scene-control,
#controls .control-tool,
#controls .scene-control,
#controls .control-tool {
    background: url(../images/ui/actorFond.png);
    border: 1px solid black;
    color: rgb(65, 65, 65);
    box-shadow: none;

}


#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
    color: #FFF;
    border: 1px solid #20393e;
    border-top-color: #20393e;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #20393e;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #20393e;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-bottom: 1px solid black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    box-shadow: 0 0 10px black;
}

#controls .scene-control.active,
#controls .control-tool.active
 {
    color:white;
    box-shadow: none;
}
#controls .scene-control:hover,
#controls .control-tool:hover{
    box-shadow: 0 0 10px black;
    color: #20393e

}




//------------SIDEBAR
#sidebar {
    border: 1px solid #000;
    border-top-color: rgb(0, 0, 0);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}