<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">

        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="charactParam flexrow">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                <div class="itemCol">
                    <h2>Caractéristiques</h2>

                    <ol class="charact-list">
                        <li class="charact">
                            <div class="charact-label">
                                Dégâts PS
                            </div>
                            <div class="charact-value">
                                <input type="number" name="data.damageEndurance" value="{{data.damageEndurance}}" />
                            </div>
                        </li>
                        <li class="charact">
                            <div class="charact-label">
                                Dégâts PV
                            </div>
                            <div class="charact-value">
                                <input type="number" name="data.damageLife" value="{{data.damageLife}}" />
                            </div>
                        </li>
                    </ol>

                    <h2>Informations</h2>
                    {{editor content=data.informations target="data.informations" button=true owner=owner editable=editable}}
                </div>

            </div>
        </div>
    </section>
</form>