body {
  font-family: attic; }

.app {
  background: url(../images/ui/appFond.png);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px  #27535c;
  box-shadow: 0 0 30px  #27535c;
  padding-bottom: 0.5em;
  color: #f0f0e0;
  z-index: 30; }
  .app input[type="text"]::-webkit-input-placeholder, .app input[type="number"]::-webkit-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app input[type="text"]::-moz-placeholder, .app input[type="number"]::-moz-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app input[type="text"]:-ms-input-placeholder, .app input[type="number"]:-ms-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app input[type="text"]::-ms-input-placeholder, .app input[type="number"]::-ms-input-placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app input[type="text"]::placeholder,
  .app input[type="number"]::placeholder {
    color: rgba(109, 161, 161, 0.794);
    text-shadow: 0px 0px 10px black; }
  .app option {
    background: grey; }

.window-app .window-header {
  background: url(../images/ui/header.webp);
  background-size: 100% 100%;
  background-repeat: repeat-x; }

#controls .scene-control,
#controls .control-tool,
#controls .scene-control,
#controls .control-tool {
  background: url(../images/ui/actorFond.png);
  border: 1px solid black;
  color: #414141;
  -webkit-box-shadow: none;
  box-shadow: none; }

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: #FFF;
  border: 1px solid #20393e;
  border-top-color: #20393e;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #20393e;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #20393e;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-bottom: 1px solid black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black; }

#controls .scene-control.active,
#controls .control-tool.active {
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none; }

#controls .scene-control:hover,
#controls .control-tool:hover {
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  color: #20393e; }

#sidebar {
  border: 1px solid #000;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial; }
